.center
	#header
		h1(style="margin-left: -5px;") About Streamwatchr
		h1.small Who, why, how, where, when, ....
		.clear
	#grid
		ul
			li.about
				| Streamwatchr listens to the world and tries to understand what is happening. We currently monitor Twitter to find out to which music people are listening. Streamwatchr offers real-time insights into music listening behavior around the world. 
				p
					| &nbsp;

				h2
					span.green
						| What
				| We offer real-time music statistics in several ways. "Now" shows the stream of plays coming in and it can be great to listen to some unknown bands. "Hot" is a real-time chart, based on the current popularity of songs and artists. Forget about charts per week or month, real-time is more interesting. "World" can be used to find the most popular songs and artists per country. "Unexpected" aims at finding the songs and artists that could be booming soon, although it is not a guarantee.
				p
					|From everywhere you can reach the more detailed information for artists and songs and listen to/watch the songs on Youtube. Among the detailed information are "sing-alongs:" people who, after starting to listen to a song, virtually sing along with this song. Amazing! Most popular song fragment at the moment? "I came in like a wrecking ball!" which is part of Miley Cyrus' song Wrecking Ball.
				p
					| &nbsp;

				h2
					span.green
						| How
				| For more information on how we extract song and artist information from tweets, please read our demo paper presented at CIKM 2013: 
				a(href="http://ilps.science.uva.nl/biblio/inside-worlds-playlist", target="_blank")
					| Inside the World's Playlist
				| . Roughly said, we use a multi-stage approach, first solving the easy tweets, after which we move to trying to solve the hard tweets. In the end we map all tweets to artists in MusicBrainz.
				p
					| &nbsp;

				h2
					span.green
						| Why
				| We want to understand the world. Music is one of the things people are passionate about and which they like to share with others. We use music as a use case for understanding the stream of information that is available online.
				p
					| &nbsp;

				h2
					span.green
						| Who
				| Early versions of Streamwatchr were created by Manos Tsagkias, Wouter Weerkamp, and Maarten de Rijke while working on projects funded by the European Union (LiMoSINe), the COMMIT/ national programs, and the Center for Content, Creation and Technology of the University of Amsterdam. Streamwatchr is now being developed into a product by 904Labs. Follow Streamwatchr at 
				a(href="http://twitter.com/streamwatchr") 
					| @streamwatchr
				| .
				p
					| &nbsp;

				.logo_balk
					a(href="http://www.limosine-project.eu",target="_blank")
						img(src="/images/logos/limosine.png")
					a(href="http://ccct.uva.nl",target="_blank")
						img(src="/images/logos/ccct.png")
					a(href="http://www.uva.nl",target="_blank")
						img(src="/images/logos/uva.png")
					a(href="http://www.eagerly.nl",target="_blank")
						img(src="/images/logos/eagerly.png")

				p
					| &nbsp;
					

		.clear