//- Map of country names
- var mapcountries = {"WF": "Wallis And Futuna Islands", "JP": "Japan", "JM": "Jamaica", "JO": "Jordan", "WS": "Samoa", "GW": "Guinea-Bissau", "GU": "Guam", "GT": "Guatemala", "GS": "South Georgia, South Sandwich Islands", "GR": "Greece", "GQ": "Equatorial Guinea", "GP": "Guadeloupe", "GY": "Guyana", "GF": "French Guiana", "GE": "Georgia", "GD": "Grenada", "GB": "United Kingdom", "GA": "Gabon", "GN": "Guinea", "GM": "Gambia", "GL": "Greenland", "GI": "Gibralter", "GH": "Ghana", "PR": "Puerto Rico", "PS": "Palestine", "PW": "Palau", "PT": "Portugal", "PY": "Paraguay", "PA": "Panama", "PF": "French Polynesia", "PG": "Papua New Guinea", "PE": "Peru", "PK": "Pakistan", "PH": "Philippines", "PN": "Pitcairn", "PL": "Poland", "PM": "St. Pierre And Miquelon", "ZM": "Zambia", "ZA": "South Africa", "ZW": "Zimbabwe", "ME": "Montenegro", "MD": "Moldava", "MG": "Madagascar", "MA": "Morocco", "MC": "Monaco", "MM": "Myanmar", "ML": "Mali", "MO": "Macao", "MN": "Mongolia", "MH": "Marshall Islands", "MK": "Macedonia", "MU": "Mauritius", "MT": "Malta", "MW": "Malawi", "MV": "Maldives", "MQ": "Martinique", "MP": "Northern Mariana Islands", "MS": "Montserrat", "MR": "Mauritania", "MY": "Malaysia", "MX": "Mexico", "MZ": "Mozambique", "FR": "France", "FX": "France Metropolitan", "FI": "Finland", "FJ": "Fiji", "FK": "Falkland Islands", "FM": "Micronesia", "FO": "Faroe Islands", "CK": "Cook Islands", "CI": "Cote D Ivoire", "CH": "Switzerland", "CO": "Colombia", "CN": "China", "CM": "Cameroon", "CL": "Chile", "CC": "Cocos Islands", "CA": "Canada", "CG": "Congo", "CF": "Central African Republic", "CD": "Congo", "CZ": "Czech Republic", "CY": "Cyprus", "CX": "Christmas Islands", "CR": "Costa Rica", "CV": "Cape Verde", "CU": "Cuba", "SZ": "Swaziland", "SY": "Syria", "SR": "Suriname", "SV": "El Salvador", "SU": "Soviet Union", "ST": "Sao Tome/Principe", "SK": "Slovakia", "SJ": "Svalbard And Jan Mayen", "SI": "Slovenia", "SH": "St. Helena", "SO": "Somalia", "SN": "Senegal", "SM": "San Marino", "SL": "Sierra Leone", "SC": "Seychelles", "SB": "Solomon Islands", "SA": "Saudi Arabia", "SG": "Singapore", "SE": "Sweden", "SD": "Sudan", "YE": "Yemen", "YT": "Mayotte", "LB": "Lebanon", "LC": "St. Lucia", "LA": "Laos", "LK": "Sri Lanka", "LI": "Liechtenstein", "LV": "Latvia", "LT": "Lithuania", "LU": "Luxembourg", "LR": "Liberia", "LS": "Lesotho", "LY": "Libyan Arab Jamahiriya", "VA": "Vatican City State", "VC": "St. Vincent & The Grenadines", "VE": "Venezuela", "VG": "British Virgin Islands", "IQ": "Iraq", "VI": "Virgin Islands (Usa)", "IS": "Iceland", "IR": "Iran", "IT": "Italy", "VN": "Viet Nam", "IM": "Isle Of Man", "IL": "Israel", "IO": "British Indian Ocean Terr", "IN": "India", "IE": "Ireland", "ID": "Indonesia", "BD": "Bangladesh", "BE": "Belgium", "BF": "Burkina Faso", "BG": "Bulgaria", "BA": "Bosnia And Herzegovina", "BB": "Barbados", "BM": "Bermuda", "BN": "Brunei Darussalam", "BO": "Bolivia", "BH": "Bahrain", "BI": "Burundi", "BJ": "Benin", "BT": "Bhutan", "BV": "Bouvet Island", "BW": "Botswana", "BR": "Brazil", "BS": "Bahamas", "BY": "Belarus", "BZ": "Belize", "RU": "Russia", "RW": "Rwanda", "RS": "Serbia", "RE": "Reunion", "RO": "Romania", "OM": "Oman", "HR": "Croatia", "HT": "Haiti", "HU": "Hungary", "HK": "Hong Kong", "HN": "Honduras", "HM": "Heard & Mcdonald Island", "EH": "Western Sahara", "EE": "Estonia", "EG": "Egypt", "EC": "Ecuador", "ET": "Ethiopia", "ES": "Spain", "UY": "Uruguay", "UZ": "Uzbekistan", "US": "United States", "UM": "United States", "UK": "United Kingdom", "UG": "Uganda", "UA": "Ukraine", "VU": "Vanuatu", "NI": "Nicaragua", "NL": "The Netherlands", "NO": "Norway", "NA": "Namibia", "NC": "New Caledonia", "NE": "Niger", "NF": "Norfolk Island", "NG": "Nigeria", "NZ": "New Zealand", "NP": "Nepal", "NR": "Nauru", "NU": "Niue", "KG": "Kyrgyzstan", "KE": "Kenya", "KI": "Kiribati", "KH": "Cambodia", "KN": "St. Kitts And Nevis", "KM": "Comoras", "KR": "South Korea", "KP": "North Korea", "KW": "Kuwait", "KZ": "Kazakhstan", "KY": "Cayman Islands", "DO": "Dominican Republic", "DM": "Dominica", "DJ": "Djibouti", "DK": "Denmark", "DE": "Germany", "DZ": "Algeria", "TZ": "Tanzania", "TV": "Tuvalu", "TW": "Taiwan", "TT": "Trinidad And Tobago", "TR": "Turkey", "TP": "East Timor", "TN": "Tunisia", "TO": "Tonga", "TM": "Turkmenistan", "TJ": "Tajikistan", "TK": "Tokelau", "TH": "Thailand", "TF": "French Southern Territories", "TG": "Togo", "TD": "Chad", "TC": "Turks And Calcos Islands", "AC": "Ascension Island", "AE": "United Arab Emirates", "AD": "Andorra", "AG": "Antigua And Barbuda", "AF": "Afghanistan", "AI": "Anguilla", "AM": "Armenia", "AL": "Albania", "AO": "Angola", "AN": "Netherlands Antilles", "AQ": "Antarctica", "AS": "Somoa,Gilbert,Ellice Islands", "AR": "Argentina", "AU": "Australia", "AT": "Austria", "AW": "Aruba", "AX": "Aland", "AZ": "Azerbaijan", "QA": "Qatar"};

.lb_content
  script
    var a = shortenName('#{artist_info.lastfm_info.artist.name}');
    var c = #{count};
    var mbId = '#{artist_info.mbId}';
    
    $('#info-play').hide();
    $('div.artist_bio span.info').html('<h1>'+a+'</h1>');
    $('div.artist_bio span.green').html(c.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
    

  .lb_inner
  
    h4 Watched over time
    hr
    //-
        .compare_with
          .compare.blue
            .inner
              .text
                | compare  
                span  #{artist_info.lastfm_info.artist.name}
          .icon
          .compare.new.green
            .inner
              .text
                | to  
                span  another artist
                img(src='images/search_icon.png')
              form#compare(action='#')
                input(name='compare', placeholder='')
                input.submit(type='submit', value='')
          .clear
    .compare_with_graphic
      #chart_div_plot
        #msg
        svg
    .lb_two_column
      .column_left
        h4 Watched per region
        #listing_1.listing
          //- .scroll_buttons
          //-   .up
          //-     img(src='images/scroll_up.png')
          //-   .down
          //-     img(src='images/scroll_down.png')
          ul
             if countries.length
               each country in countries
                  li
                    .title= mapcountries[country.country]
                    //- .value_balk(data-value='#{country.count}')
                    //-   .procent
                    .value.colored #{numberWithCommas(country.count)}
             else
               li No data available.
      .column_right
        h4 Top played songs
        #listing_2.listing
          //- .scroll_buttons
          //-   .up
          //-     img(src='images/scroll_up.png')
          //-   .down
          //-     img(src='images/scroll_down.png')
          ul
            if songs.length
              each song, i in songs
                li
                  .number #{i+1}.
                  .title(style='text-transform: capitalize;') #{song.song}
                  .value.colored #{numberWithCommas(song.count)}
            else
              li No data available.
      .clear
    .lb_two_column
      .column_left
        h4 Top sing-along songs
        #listing_3.listing
          //- .scroll_buttons
          //-   .up
          //-     img(src='images/scroll_up.png')
          //-   .down
          //-     img(src='images/scroll_down.png')
          ul
            if lyrics_pop.length
              each pop_lyric, i in lyrics_pop
                li
                  .number #{i+1}.
                  .title(style='text-transform: capitalize;') #{pop_lyric.song}
                  .value.colored #{numberWithCommas(pop_lyric.count)}
            else
              li No data available.

      .column_right
        h4 Latest sing-along tweets
        #listing_4.listing
          //- .scroll_buttons
          //-   .up
          //-     img(src='images/scroll_up.png')
          //-   .down
          //-     img(src='images/scroll_down.png')
          ul
            if lyrics.length
              each lyric, i in lyrics
                li
                  .number
                  .tweet "#{lyric.tweet}"
                  .tweeter
                    a(href='http://twitter.com/#{lyric.user}/status/#{lyric.tweetid}', title='@#{lyric.user}') @#{lyric.user}
            else
              li No data available.
      .clear
    .lb_two_column
      .column_left
        h4 Artists people listen to next
        #listing_5.listing
          //- .scroll_buttons
          //-   .up
          //-     img(src='images/scroll_up.png')
          //-   .down
          //-     img(src='images/scroll_down.png')
          ul
            li Loading ...
      .clear
    h4 Biography
    hr
    .biography
    if artist_info
      p
        | !{artist_info.lastfm_info.artist.bio.summary}
img#load_always(src='images/load_always.png')

- // load recommendations asynchronously
script
  $.ajax({
    url: '/recommend/artist/#{artist_info.mbId}',
    context: $('#listing_5'),
    timeout: 20000,
  })
  .done(function (thisdata, textStatus, jqXHR) {
    if (thisdata) {
      $(this).html(thisdata);
    } else {
      $(this).html("No data available.");
    }
  })
  .fail(function (jqXHR, textStatus, errorThrown) {
    if (textStatus == "timeout") {
      $(this).html("This is taking too long. Try again later.");
    } else {
      $(this).html("Something went wrong. Try again later.");
    }
  });
