ul
   if docs.length
     each rec in docs
        li
          .title 
            if rec.target.song
              = capitalize(rec.target.song)
              |  by 
              = rec.target.artists[0].name
            else
              = rec.target.name
          .value_balk(data-value=rec.normweight*100)
            .procent
          //- .value.colored #{numberWithCommas(country.count)}
   else
     li No data available.

script
    $("#lb .lb_content .listing ul li .value_balk").each(function(i) {
      $(this).find('.procent').css({'width' : $(this).data('value')+'%'});
    });
