script(src='/socket.io/socket.io.js')

.center
	#header
		h1(style="margin-left: -5px;") Now playing on the planet
		h1.small Tap into the music. Hover and hit play!
		.clear
	#grid
		ul
			li.claim
				h2
					| We've been 
					span.green
						| watching
				.total_songs
					| #{numberWithCommas(total_tweets)}
				h3
					| music tweets & 
				.total_artists
					| #{numberWithCommas(unique_artists)}
				h3
					| artists so far.
				.twitter_balk
					ul
						each lyric in lyrics
							li
								a.tweeter(href="http://twitter.com/#{lyric.user}", target="_blank")
									| @#{lyric.user} 
								| sings along 
								span.titlecase
									| #{lyric.song} 
								| by #{lyric.artists[0]['name']}: 
								| "#{lyric.tweet}"

			- var c = 0
			each song in start_songs
				divClass = "small"
				x = 3
				- c += 1
				if c < 6
					divClass = "big"
					x = 4

				if song.video_id && song.images && song.video_id !== 'undefined'
					playClass = ""
					videoid = song.video_id
				else
					playClass = "none"
					videoid = ""

				li(class=divClass)
					.card
						.face.front.active(data-target='/song-info/#{song._id}?collection=currently')
							.thumb
								img.hor(src=song.images[x]['#text'],alt=song.artist)
							.info
								.song-info
									.title #{shortenName(song.song)}
									.artist #{shortenName(song.artists[0].name)}
								div(style='display: '+playClass).yt-play.play-btn.play_youtube
									span.yt-play.play_youtube
										img.yt-play.play_youtube(src='images/play_icon.png',data-song='{"youtube":"#{videoid}", "song":"#{song.song}", "artist":"#{song.artist}", "mbid":"#{song.artists[0].mbId}", "thumb":"#{song.images[2]["#text"]}", "mbId":#{JSON.stringify(song.mbId)}}')
						.face.back
							.thumb
								img.hor(src=song.images[x]['#text'],alt=song.artist)
							.info
								.song-info
									.title #{shortenName(song.song)}
									.artist #{shortenName(song.artists[0].name)}
								div(style='display: '+playClass).yt-play.play-btn.play_youtube
									span.yt-play.play_youtube
										img.yt-play.play_youtube(src='images/play_icon.png',data-song='{"youtube":"#{videoid}", "song":"#{song.song}", "artist":"#{song.artist}", "mbid":"#{song.artists[0].mbId}", "thumb":"#{song.images[2]["#text"]}", "mbId":#{JSON.stringify(song.mbId)}}')

		.clear

script
	var tweets = #{total_tweets};
	var artists = #{unique_artists};
