doctype 5
html(xmlns="http://www.w3.org/1999/xhtml",lang="en",xml:lang="en")
	head
		title Streamwatchr
		
		link(rel="shortcut icon",type="image/x-icon",href="images/favicon.ico?2")
		link(rel="apple-touch-icon",href="images/57x57.png")
		link(rel="apple-touch-icon",href="images/72x72.png",sizes="72x72")
		link(rel="apple-touch-icon",href="images/114x114.png",sizes="114x114")

		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")

		meta(name="description",content="Streamwatchr is a new and playful way to engage with music. It analyzes the music being listened to right now, all around the world, in real time. Streamwatchr is great for both discovering new music and checking charts, and tracking artist and song trends.")

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/nv.d3.css')
		link(rel='stylesheet', href='/css/app.css')

		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-11182903-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body
		div(id='bg')
			img(src='http://userserve-ak.last.fm/serve/252/74466328.png')
		div(id='bg_overlay')
		
		section(ui-view)
			div(id='loading_overlay')
				img(src='/images/loader.gif')

	if settings.env == 'development'
		script(src='/js/lib/require.js', data-main='js/main.js')
	else
		script(src='/build/main.js')

