extends popular

block popular-item
	.center
		#header
			ul#switch.right
				li.active
					a(href="/off-the-beaten-track/songs") Songs
				li
					a(href="/off-the-beaten-track/artists") Artist
			h1 Off the beaten track
			h1.small Tired of listening to the same songs all the time? Try these...
			.clear

		ul#popular_now
			li.head
				ul
					li.number #
					li.artist Artist
					li.song Song
					li.statistics Plays in last 24hrs
					li.play
					.clear
			each item, i in docs
				x = 1
				rowClass = ""

				if (i < 3)
					x = 2

				if (i===0)
					rowClass = "first"
				if (i===1)
					rowClass = "second"
				if (i===2)
					rowClass = "third"

				li.row(class=rowClass, data-target="/song-info/#{item.song_popularity_id}")
					ul
						li.number #{i+1}
						li.artist
							.thumb
								if ("artist_image" in item)
									img.hor(src=item.artist_image[x]["#text"])
						li.song
							big #{item.entity} <br />
							small #{item.artist_name}
						li.statistics(data-id="#{item.song_popularity_id}", data-type="song")
							//- img(src="/images/loader.gif")
						if "artist_image" in item
							li.play 
								| 
								if "youtubeID" in item
									.yt-play.play-btn.play_youtube
										span.yt-play.play_youtube
											img.yt-play.play_youtube(alt="Play #{item.entity} by #{item.artist_name}", src="/images/play_icon.png", data-song='{"youtube":"#{item.youtubeID}", "song":"#{item.entity}", "artist":"#{item.artist_name}", "mbid":"#{item.artist_mbId}", "thumb":"#{item.artist_image[2]["#text"]}", "mbId":#{JSON.stringify(item.mbId)}}')
						.clear

