extends popular

block popular-item
	.center
		#header
			ul#switch.right
				li
					a(href="/off-the-beaten-track/songs") Songs
				li.active
					a(href="/off-the-beaten-track/artists") Artist
			h1 Off the beaten track
			h1.small Tired of listening to the same artists all the time? Try these...
			.clear

		ul#popular_now
			li.head
				ul
					li.number #
					li.artist Artist
					li.song
					li.statistics Statistics
					.clear
			each item, i in docs
				x = 1
				rowClass = ""

				if (i < 3)
					x = 2

				if (i===0)
					rowClass = "first"
				if (i===1)
					rowClass = "second"
				if (i===2)
					rowClass = "third"

				li.row(class=rowClass, data-target="/artist-info/#{item.mbId}")
					ul
						li.number #{i+1}
						li.artist
							.thumb
								if ("artist_image" in item)
									img.hor(src=item.artist_image[x]["#text"])
						li.song
							big #{item.name}
						li.statistics(data-id="#{item.mbId}", data-type="artist")
							//- img(src="/images/loader.gif")
						.clear
