extends popular

block popular-item
	.center
		#header
			ul#switch.right
				li
					a(href="/popular/songs") Songs
				li.active
					a(href="/popular/artists") Artist
			h1 Most popular artists on the planet, now
			h1.small Real-time chart of the most popular artists around the planet.
			.clear

		ul#popular_now
			li.head
				ul
					li.number #
					li.artist Artist
					li.song &nbsp;
					li.statistics Statistics
					.clear
			each item, i in docs
				x = 1
				rowClass = ""

				if (i < 3)
					x = 2

				if (i===0)
					rowClass = "first"
				if (i===1)
					rowClass = "second"
				if (i===2)
					rowClass = "third"

				li.row(class=rowClass, data-target="/artist-info/#{item.mbId}")
					ul
						li.number #{i+1}
						li.artist
							.thumb
								if ("image" in item)
									img.hor(src=item.image[x]["#text"])
						li.song
							big #{item.artist}
						li.statistics(data-id="#{item.mbId}", data-type="artist")
							//- img(src="/images/loader.gif")
						.clear
