extends popular

block popular-item 
	.center
		#header
			ul#switch.right
				li.active
					a(href="/popular/songs") Songs
				li
					a(href="/popular/artists") Artist
			h1 Most popular songs on the planet, now
			h1.small Real-time chart of the most popular songs around the planet.
			.clear

		ul#popular_now
			li.head
				ul
					li.number #
					li.artist Artist
					li.song Song
					li.statistics Plays in last 24hrs
					li.play
					.clear
			each item, i in docs
				x = 1
				rowClass = ""

				if (i < 3)
					x = 2

				if (i===0)
					rowClass = "first"
				if (i===1)
					rowClass = "second"
				if (i===2)
					rowClass = "third"

				li.row(class=rowClass, data-target="/song-info/#{item._id}")
					ul
						li.number #{i+1}
						li.artist
							.thumb
								if ("image" in item)
									img.hor(src=item.image[x]["#text"])
						li.song
							big #{item.song} <br />
							small #{item.artists[0]['name']}
						li.statistics(data-id="#{item._id}", data-type="song")
							//- img(src="/images/loader.gif")
						if "image" in item
							li.play 
								| 
								if "youtubeID" in item
									.yt-play.play-btn.play_youtube
										span.yt-play.play_youtube
												img.yt-play.play_youtube(alt="Play #{item.song} by #{item.artists[0]['name']}", src="/images/play_icon.png",data-song='{"youtube":"#{item.youtubeID}", "song":"#{item.song}", "artist":"#{item.artists[0]["name"]}", "mbid":"#{item.artists[0].mbId}", "thumb":"#{item.image[2]["#text"]}", "mbId":#{JSON.stringify(item.artists)}}')
						.clear
