doctype 5
html(xmlns="http://www.w3.org/1999/xhtml",lang="en",xml:lang="en")
	head
		title
			| Streamwatchr - 
			block title
		
		link(rel="shortcut icon",type="image/x-icon",href="images/favicon.ico?2")
		link(rel="apple-touch-icon",href="images/57x57.png")
		link(rel="apple-touch-icon",href="images/72x72.png",sizes="72x72")
		link(rel="apple-touch-icon",href="images/114x114.png",sizes="114x114")

		meta(name="apple-mobile-web-app-capable",content="yes")
		meta(name="apple-mobile-web-app-status-bar-style",content="black")

		meta(name="description",content="Streamwatchr is a new and playful way to engage with music. It analyzes the music being listened to right now, all around the world, in real time. Streamwatchr is great for both discovering new music and checking charts, and tracking artist and song trends.")

		link(rel='stylesheet',href='/stylesheets/style.css')
		link(rel='stylesheet',href='/stylesheets/nv.d3.css')
		link(rel='stylesheet',href='/stylesheets/fullcalendar.css')
		link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic')
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-11182903-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

			WebFontConfig = {
				google: { families: [ 'Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
					'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();



	body
		div(id="setGrid")
		div(id="bg_slideshow")
			- var date = new Date();
			- var picknumber = Math.floor(date.getDate() / 3.1);
			img(src="/images/fallback_bg_#{picknumber}.jpg")
		div(id="bg_overlay")
		
		#sitewide
			.center
				a.logo(href="http://www.streamwatchr.com",title="Streamwatchr")
					img(src="/images/streamwatchr-logo.png",alt="Streamwatchr")
					b
						| Stream
					| watchr
				.search_btn(style="display:none;")
					.dropdown
						form#search
							input.search(name="bedrijf",placeholder="Search")
							input.submit(type="submit",value="")
						ul
							li.first
								.info
									| artist
								a(alt="Sum 41")
									b
										| Su
									| m 41
							li
								.info
								a(alt="Sum 41")
									b
										| Su
									| m 41
						ul
							li.first
								.info
									| songs
								a(alt="Sufragette City")
									b
										| Su
									| fragette City
							li
								.info(alt="Forever Suffering")
								a
									| Forever 
									b
										| Su
									| ffering
				ul.menu
					li
						a#currently.active(data-target='{"href":"/home","title":"Currently playing","item":"currently"}',href='?now')= 'Now'
					li
						a#popular(data-target='{"href":"/popular/songs","title":"Popular on the planet, now!","item":"popular"}',href='?hot')= 'Hot!'
					//- li
					//- a#world(data-target='{"href":"/world/song/lastday/","title":"Popular around the world","item":"world"}',href='/world/song/lastday')= 'World'
					li
						a#unexpected(data-target='{"href":"/off-the-beaten-track/songs","title":"Unexpected music on the planet","item":"unexpected"}',href='?unexpected')= 'Unexpected'


		#container

		#player
			.inner
				#play-btn.left
					span
						img(src="/images/play_icon.png",alt="Play")
				#thumb.left
					img.hor(alt="thumb")
				#player_balk.left
					.tickercontainer
						.song
							span.title
							|	 - 
							span.artist
					.time
						| Closing in 
						span#countdown 10 
						| seconds. 
						a#closingin10(href="#") Cancel
						span.now
						span.total
					.time_balk
				#show_youtube.left
				.socials.left
					//- a.facebook(data-title="Share on Facebook",href="#")
					a.twitter(data-title="",href="#")
					//- a#twitter-sb.twitter.twitter-share-button(href="https://twitter.com/share", data-url="http://youtube.com", data-text="Blah - Blah", data-via="streamwatchr", data-related="streamwatchr", data-count="none", data-hashtags="strwtchr,np") Tweet

			.inner2
				#youtube
					#typlayer

		#footer
			.center
				#api_data_logos
					//-ul
					//- li.twitter
					//-		a(title="Twitter",href="http://twitter.com",target="_blank")
					//- li.youtube
					//-		a(title="YouTube",href="http://youtube.com",target="_blank")
					//- li.lastfm
					//-		a(title="Last.fm",href="http://last.fm",target="_blank")
					//- li.google
					//-		a(title="Google",href="http://google.com",target="_blank")
					| We use open API data from 
					a(title="Musicbrainz",href="http://musicbrainz.org",target="_blank")
						| Musicbrainz, 
					a(title="Twitter",href="http://twitter.com",target="_blank")
						| Twitter, 
					a(title="YouTube",href="http://youtube.com",target="_blank")
						| YouTube, 
					a(title="Last.fm",href="http://last.fm",target="_blank")
						| Last.fm, 
					a(title="LYRICSnMUSIC",href="http://lyricsnmusic.com",target="_blank")
						| LYRICSnMUSIC 
					| & 
					a(title="Google",href="http://google.com",target="_blank")
						| Google
				ul.menu
					li
						a#about(title="About Streamwatchr", href="?about", data-target='{"href":"/about","title":"About Streamwatchr","item":"about"}')
							| About Streamwatchr
					//- li
					//-		a(title="Privacy")
					//-			| Privacy
					//- li
					//-		a(title="Legal")
					//-			| Legal

		#lb_bg
			img#lb_loader(src='/images/loader.gif')
			#errorContainer
				h2 Oops... something went wrong.
				p Click anywhere to return. If trying again in a few minutes doesn't work, 
					a#errorhref(target="blank")
						| drop us a tweet
					| .
					| Technically speaking, this is what we know:
				#error

		#lb
			#lb_center_balk
				.lb_outer_close
				#lb_balk.lb_center
					#lb_back(data-target='target')
						span.title
							| back to:
							b ...
						.back-btn
					#lb_close
						span close
						.close-btn
					.socials.socials-fix.right(class="visibility: hidden")
						span share
						a.facebook(href='#', title='facebook')
						a.twitter(href='#', title='twitter')
				.lb_center
					.artist_bio
						.lb_header
							#info-play.play-btn.play_youtube
								span.play_youtube
									img.play_youtube(src="/images/play_icon.png")
							.text
								span.info
								span.streamwatched
									| streamwatched 
									span.green
									|	 times
							ul.lb_thumbs

							.lb_thumbs_overlay
			#lb_center_frame
				.lb_outer_close
				#lb_frame.lb_center

		
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
		script(src='https://www.google.com/jsapi')

		script(src='/javascripts/system/modernizr-2.5.3.min.js')
		//- script(src='/javascripts/system/fullcalendar.js')
		script(src='/javascripts/system/jquery.cycle.all.js')
		script(src='/javascripts/system/jquery.nicescroll.min.js')
		script(src='/javascripts/system/jquery.li-scroller.1.0.js')
		script(src='/javascripts/system/jquery.history.js')
		script(src='/javascripts/system/imagesloaded.pkgd.min.js')
		script(src='/javascripts/system/d3.min.js')
		script(src='/javascripts/system/nv.d3.min.js')
		script(src='/javascripts/streamwatchr-lightbox.js')
		script(src='/javascripts/streamwatchr.js')

