script(src='/javascripts/system/d3.min.js')

.center
	#header
		ul#switch.right
			-var entitytypes = { 'Song': 'song', 'Artist': 'artist' }
			-var entitytype_selected = 'song'
			-var liclass = ''
			-var ulclass = 'right'
			for entitytype, entitykey in entitytypes
				if entitytype === entitytype_selected
					liclass = 'active'
				else
					liclass = ''
				if entitytype === 'artist'
					ulclass = 'left'
				else
					ulclass = 'right'
				li(class=liclass)
					a(data-type=entitytype, title=entitykey)= entitykey
					ul(class=ulclass)
						-var sub_selected = 'Today'
						-var sub_menu = { 'This hour': '/world/'+entitytype+'/lasthour/', 'Today': '/world/'+entitytype+'/lastday/', 'This month': '/world/'+entitytype+'/lastmonth/', 'This year': '/world/'+entitytype+'/lastyear/' };
						each val, key in sub_menu
							if sub_selected === key
								li.active
									a(href=val,data-type=val)
										| #{key}
							else
								li
									a(href=val,data-type=val)
										| #{key}
					
		h1 Around the world
		h1.small What are the most popular songs and artists in your country.
		.clear
	#map_div
