/*!
 * FullCalendar v1.6.4 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */

.fc {
    direction: ltr;
    text-align: left;
    }
    
.fc table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    
html .fc,
.fc table {
    font-size: 1em;
    }
    
.fc td,
.fc th {
    padding: 0;
    vertical-align: top;
    }

/* Header
------------------------------------------------------------------------*/

.fc-header td {
    white-space: nowrap;
    }

.fc-header-left {
    width: 25%;
    text-align: left;
    }
    
.fc-header-center {
    text-align: center;
    }
    
.fc-header-right {
    width: 25%;
    text-align: right;
    }
    
.fc-header-title {
    display: inline-block;
    vertical-align: top;
    }
    
.fc-header-title h2 {
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    }
    
.fc .fc-header-space {
    padding-left: 10px;
    }

/* buttons edges butting together */

.fc-header .fc-corner-right,  /* non-theme */
.fc-header .ui-corner-right { /* theme */
    margin-right: 0; /* back to normal */
    }
    
/* button layering (for border precedence) */
    
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
    z-index: 2;
    }
    
.fc-header .fc-state-down {
    z-index: 3;
    }

.fc-header .fc-state-active,
.fc-header .ui-state-active {
    z-index: 4;
    }
    
    
    
/* Content
------------------------------------------------------------------------*/
    
.fc-content {
    clear: both;
    zoom: 1; /* for IE7, gives accurate coordinates for [un]freezeContentHeight */
    }
    
.fc-view {
    width: 100%;
    overflow: hidden;
    }
    
    

/* Cell Styles
------------------------------------------------------------------------*/


.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
    /* background: rgba(69, 171, 93, 0.2); */
    }

.fc-other-month { 
    background: rgba(255, 255, 255, 0.1);
    }
    
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
    background: #bce8f1;
    opacity: .3;
    filter: alpha(opacity=30); /* for IE */
    }
    


.fc-state-default {
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    color: #333333;
    background-color: #e6e6e6;
    }

.fc-state-hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
       -moz-transition: background-position 0.1s linear;
         -o-transition: background-position 0.1s linear;
            transition: background-position 0.1s linear;
    }

.fc-state-down,
.fc-state-active {
    background-color: #cccccc;
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

.fc-state-disabled {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
    }

    

/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
    z-index: 8;
    }

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
    z-index: 9;
    }
    
    

    
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
    border-collapse: separate;
    border-top: 1px inset rgba(0,0,0,0.2);
    border-bottom: 1px inset rgba(255,255,255,0.2);
}
    
.fc-border-separate td {
    border-top: 1px inset rgba(255,255,255,0.2);
    border-left: 1px inset rgba(255,255,255,0.2);
    border-bottom: 1px inset rgba(0,0,0,0.2);
    border-right: 1px inset rgba(0,0,0,0.2);
    }


.fc-border-separate td.fc-last {
    -moz-box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
    -webkit-box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
    box-shadow: inset -1px 0px 0px rgba(255,255,255,0.2);
}

.fc-border-separate td.fc-first {
    -moz-box-shadow: inset 1px 0px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 1px 0px 0px rgba(0,0,0,0.2);
    box-shadow: inset 1px 0px 0px rgba(0,0,0,0.2);
}
 
.fc-border-separate th {
    border-bottom: 1px inset rgba(0,0,0,0.2);
    border-top: 1px inset rgba(255,255,255,0.2);
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #b2b2b2;
    text-transform: uppercase;
    text-align: left;
} 
    
    /*
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
    border-right-width: 1px;
    }
    
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
    border-bottom-width: 1px;
    }
    
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
    border-top-width: 0;
    }
    */
    

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/


.fc .fc-week-number {
    width: 22px;
    text-align: center;
    }

.fc .fc-week-number div {
    padding: 0 2px;
    }
    
.fc-grid .fc-day-number {
    float: right;
    padding: 0 2px;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    float: left;
    margin: 8px 0px 3px 8px;
    text-shadow: 1px 1px rgba(0,0,0,0.3); 
}
    
.fc-grid .fc-other-month .fc-day-number {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        -moz-opacity:0.3;
        -khtml-opacity: 0.3;
        opacity: 0.3;
    }
    
.fc-grid .fc-day-content {
    clear: both;
    padding: 2px 2px 1px; /* distance between events and day edges */
    }
    
/* event styles */
   
    
/* right-to-left */
    
.fc-rtl .fc-grid .fc-day-number {
    float: left;
    }
    
    

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
    border-collapse: separate;
    }
    
.fc-agenda-days th {
    text-align: center;
    }
    
.fc-agenda .fc-agenda-axis {
    width: 50px;
    padding: 0 4px;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
    font-weight: normal;
    }

.fc-agenda .fc-week-number {
    font-weight: bold;
    }
    
.fc-agenda .fc-day-content {
    padding: 2px 2px 1px;
    }
    
/* make axis border take precedence */
    
.fc-agenda-days .fc-agenda-axis {
    border-right-width: 1px;
    }
    
.fc-agenda-days .fc-col0 {
    border-left-width: 0;
    }
    
/* all-day area */
    
.fc-agenda-allday th {
    border-width: 0 1px;
    }
    
.fc-agenda-allday .fc-day-content {
    min-height: 34px; /* TODO: doesnt work well in quirksmode */
    _height: 34px;
    }
    
/* divider (between all-day and slots) */
    
.fc-agenda-divider-inner {
    height: 2px;
    overflow: hidden;
    }
    
.fc-widget-header .fc-agenda-divider-inner {
    background: #eee;
    }
    
/* slot rows */
    
.fc-agenda-slots th {
    border-width: 1px 1px 0;
    }
    
.fc-agenda-slots td {
    border-width: 1px 0 0;
    background: none;
    }
    
.fc-agenda-slots td div {
    height: 20px;
    }
    
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
    border-top-width: 0;
    }

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
    border-top-style: dotted;
    }
    
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
    *border-top-style: solid; /* doesn't work with background in IE6/7 */
    }

.fc-button-today {
    display: none !important;
}

.fc-week.fc-last {
  
}

.fc-header {
    height: 50px;
}

#calendar-next,
#calendar-prev {
    position: absolute;
    top: 0px;
    margin-top: -3px;
    width: 165px;
    height: 48px;
    cursor: pointer;
}

#calendar-prev {
    left: 0px;
}

    body.small #calendar-prev {
        
    }

#calendar-next {
    right: 0px;
}

    body.small #calendar-next  {
    }

.fc-state-disabled #calendar-prev,
.fc-state-disabled #calendar-next {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    cursor: default;
}
    
    #calendar-next .button,    
    #calendar-prev .button {
        width: 124px;
        height: 30px;
        position: absolute;
        top: 9px;
        line-height: 30px;
        text-align: center;
        background: rgba(0,0,0,0.5);
        font-size: 16px;
        color: #ffffff;
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 0px 0px rgba(0,0,0,0);
    }   
    
    #calendar-prev .button {
        right: 0px;
    }
        
    #calendar-next .button {
        left: 0px;
    }  
    
        #calendar-next:hover .button,
        #calendar-prev:hover .button {
            width: 122px;
            height: 28px;
            line-height: 28px;
            background: none;
            border: 1px solid #fff;
            color: #40ac5a;
        }

        .fc-state-disabled #calendar-next:hover .button,
        .fc-state-disabled #calendar-prev:hover .button {
            width: 124px;
            height: 30px;
            line-height: 30px;
            background: rgba(0,0,0,0.5);
            border: 0px;
            color: #ffffff;
        }
    
    #calendar-next .icon,
    #calendar-prev .icon {
        width: 28px;
        height: 48px;
        position: absolute;
        top: 0px;
    }
    
    #calendar-prev .icon {
        left: 0px;
        background: url(../img/calandar_prev.png) no-repeat;
    }
    
    #calendar-next .icon {
        right: 0px;
        background: url(../img/calandar_next.png) no-repeat;
    }
    
        #calendar-prev:hover .icon {
            background: url(../img/calandar_prev_hover.png) no-repeat;
        }
        
        #calendar-next:hover .icon {
            background: url(../img/calandar_next_hover.png) no-repeat;
        }    

        .fc-state-disabled #calendar-prev:hover .icon {
            background: url(../img/calandar_prev.png) no-repeat;
        }
        
        .fc-state-disabled #calendar-next:hover .icon {
            background: url(../img/calandar_next.png) no-repeat;
        }      

.fc-event {
    width: 123px;
    height: 92px;
    overflow: hidden;
    position: relative;
}

    .fc-event .cover {
        width: 80px;
        height: 80px;
        position: absolute;
        overflow: hidden;
        -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
        background: #000000;
    }

        .fc-event .cover:hover {
            cursor: pointer;
        }

    .fc-event .cover.cover_single {
        top: 0px;
        left: 50%;
        margin-left: -40px;
        z-index: 1;
    }

    .fc-event .cover.cover_double.cover_0 {
        top: 0px; 
        left: 8px;
        z-index: 2;
    }

    .fc-event .cover.cover_double.cover_1 {
        bottom: 0px; 
        right: 8px;
        z-index: 1;
    }

        .fc-event .cover.cover_double.cover_1:hover {
            z-index: 3;
        }

    .fc-event .cover.cover_triple.cover_0 {
        top: 0px; 
        left: 8px;
        z-index: 3;
    }

    .fc-event .cover.cover_triple.cover_1 {
        bottom: 6px;
        right: 21px;
        z-index: 2;
    }

    .fc-event .cover.cover_triple.cover_2 {
        bottom: 0px; 
        right: 8px;
        z-index: 1;
    }

         .fc-event .cover.cover_triple.cover_1:hover,
         .fc-event .cover.cover_triple.cover_2:hover {
            z-index: 4;
         }


        .fc-event .cover img.thumb {
            position: absolute;
            top: 0px;
            left: 0px;
        }

            .fc-event .cover:hover img.thumb {
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
                filter: alpha(opacity=60);
                -moz-opacity:0.6;
                -khtml-opacity: 0.6;
                opacity: 0.6;
            }

            .fc-event .cover img.thumb.hor {
            width: 100%;  
            }

            .fc-event .cover img.thumb.ver {
            height: 100%;  
            }

    .fc-event .cover .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        background: url(../img/calender_thumb_overlay.png) no-repeat bottom;
    }

    .fc-event .cover .time {
        position: absolute;
        z-index: 3;
        bottom: 5px;
        left: 0px;
        width: 100%;
        text-align: center;
        font-size: 11px;
        line-height: 13px;
        color: #999999;
    }

    .fc-event .cover .hover {
        position: absolute;
        z-index: 4;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: none;
    }

        .fc-event .cover:hover .hover {
            display: block;
        }

        .fc-event .cover .hover .play-btn {
            width: 40px;
            height: 40px;
            border: 2px solid #40ac5a;
            -moz-border-radius: 22px;
            -webkit-border-radius: 22px;
            -khtml-border-radius: 22px;
            border-radius: 22px;
            background: transparent;
            text-align: left;
            position: absolute;
            top: 10px;
            left: 18px;
            display: none;
        }
            
            .fc-event .cover .hover .play-btn {
                display: block;
            }
        
            .fc-event .cover .hover .play-btn span {
                width: 30px;
                height: 30px;
                margin-top: 5px;
                margin-left: 5px;
                background: rgba(0,0,0,0.5);
                -moz-border-radius: 15px;
                -webkit-border-radius: 15px;
                -khtml-border-radius: 15px;
                border-radius: 15px;
                display: block;
            }
            
                .fc-event .cover .hover span img {
                    margin-top: 8px;
                    margin-left: 9px;
                } 


    