@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.left { float: left; } 
.right { float: right; }
.clear { clear: both; }
.hide {display: none;}

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	background: #111111;
	font-family: 'Lato',  helvetica, arial, sans-serif;
	font-size: 14px;  
	font-weight: 400; 
	line-height:20px;  
	color: #333333;	 
	margin: 0px;  
	padding: 0px; 
/*	  -webkit-user-select:none;*/
	-webkit-text-size-adjust:none;
}

input, textarea, select {
   -webkit-appearance: none;
}

a { text-decoration:none; color: #3a82f5; font-weight: 700;}

a:hover {color: #003b99;}

a img {
	border:0px;
}

.hidden {
	display: none;
}

.base_color { color: #40ac5a;  }
.base_color_bg { background-color: #40ac5a; }
.silver { color: #b2b2b2; }
.white { color: #ffffff; }
.gray { color: #333333; }
.green { color: #40ac5a;  }
.purple { color: #f38fed; }
.blue { color: #3a82f5; }

h1, h2, h3, h4, h5 {margin: 0px; padding: 0px;}
h1 { font-size: 80px; line-height: 60px; font-weight: 300; color: #ffffff;	text-shadow: 1px 1px rgba(0,0,0,0.3);  }
h1.small { font-size: 24px; line-height: 26px; font-weight: 300; color: #b2b2b2; margin-top: 20px; }
h2 { font-size: 36px; line-height: 40px; font-weight: 700; color: #333333; }
h3 { font-size: 24px; line-height: 26px; font-weight: 700; color: #ffffff;	text-shadow: 1px 1px rgba(0,0,0,0.3); }
h3.small { font-size: 16px; line-height: 18px; font-weight: 400; color: #ffffff; margin-top: 5px; }
h4 {font-size: 20px; line-height: 22px; font-weight: 700;  color: #4c4c4c;}

body.small h1 { font-size: 70px; line-height: 50px; }
body.small h1.small { font-size: 22px; line-height: 24px; }


p{color: #4c4c4c; margin: 8px 0px; font-size: 16px; line-height: 22px;}

hr {
	width: 100%;
	border: 0px;
	height: 1px;
	background: #e5e5e5;
}

.center {
	width: 1426px;
	position: relative;
	margin: 0 auto;
	padding: 0px 20px 0px 20px;
}

body.small .center {
	width: 906px;
}

#container {
	position: relative;
	z-index: 3;
	padding-top: 100px;
}

#sitewide {
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 999;
}

	#sitewide a.logo {
		float: left;
		margin: 0px;
		display: block;
		line-height: 50px;
		height: 50px;
		color: #fff;
		font-weight: 300;
		font-size: 22px;
	}
		
		#sitewide a.logo img {
			float: left;
			margin-right: 10px;
		}
		
		#sitewide a.logo b {
			font-weight: 700;
		}
	
	#sitewide .search_btn {
		height: 50px;
		width: 50px;
		float: right;
		background: url(../images/search-icon.png) center center;
		margin-left: 6px;
		position: relative;
		cursor: pointer;
	}
		
		#sitewide .search_btn.active,
		#sitewide .search_btn:hover {
			background: url(../images/search-icon.png) center center #45ab5d;
		}
		
		#sitewide .search_btn .dropdown {
			display: none;
			position: absolute;
			right: 0px;
			top: 50px;
			width: 340px;
			background-color: #ffffff;
		}
		
		#sitewide .search_btn.active .dropdown {
			display: block;
		}
		
			 #sitewide .search_btn .dropdown input.search {
				 margin: 0px;
				 width: 320px;
				 padding: 10px;
				 height: 20px;
				 background: #e6e6e6;
				 font-size: 16px;
				 line-height: 20px;
				 font-weight: 700;
				 font-family: 'Lato',  helvetica, arial, sans-serif;
				 color: #333333;
			 }
			 
			 #sitewide .search_btn .dropdown input.search::-webkit-input-placeholder { color: #999; font-size: 16px; font-weight: 400; }
			 #sitewide .search_btn .dropdown input.search:-moz-placeholder { color: #999; font-size: 16px; font-weight: 400; }
			 #sitewide .search_btn .dropdown input.search::-moz-placeholder { color: #999; font-size: 16px; font-weight: 400; }
			 #sitewide .search_btn .dropdown input.search:-ms-input-placeholder { color: #999; font-size: 16px; font-weight: 400; }
			 #sitewide .search_btn .dropdown input.search.placeholder { color: #999; font-size: 16px; font-weight: 400; }
				
			 #sitewide .search_btn .dropdown input.search:focus {
				 background: #ffffcc;
			 }		 
			 
			 #sitewide .search_btn .dropdown input.submit {
				 display: none;
			 }
		
			 #sitewide .search_btn .dropdown ul {
				 margin: 0px;
				 list-style: none;
			 }
			 
				#sitewide .search_btn .dropdown ul li {
					float: none;
					position: relative;
					height: 40px;
					overflow: hidden;
				}
				
				#sitewide .search_btn .dropdown ul li .info {
					float: left;
					background: #f3f3f3;
					width: 40px;
					height: 40px;
					padding: 0px 10px;
					font-weight: 700;
					font-size: 12px;
					color: #808080;
					line-height: 20px;
					text-transform: uppercase;
					line-height: 37px;
					border-top: 1px solid #f3f3f3;
				}
				
					#sitewide .search_btn .dropdown ul li.first .info {
						border-top: 1px solid #dadada;
					}
				
				#sitewide .search_btn .dropdown ul li a {
					display: block;
					padding: 10px;
					height: 20px;
					font-size: 16px;
					line-height: 20px;
					font-weight: 400;
					color: #333333;
					float: left;
					width :260px;
					border-top: 1px solid #e5e5e5;
				}
				
					#sitewide .search_btn .dropdown ul li a:hover {
						color: #ffffff;
						background: #45ab5d;
					}
			 
			
	#sitewide ul.menu,
	#footer ul.menu {
		float: right;
		margin: 10px 0px;
		list-style: none;
	}
	
	#footer ul.menu {
		margin-top: 18px;
		font-weight: 300;
	}

		#sitewide ul.menu li,
		#footer ul.menu li {
			float: left;
			margin: 0px 5px;
		} 
		
		body.small #sitewide ul.menu li,
		body.small #footer ul.menu li {
			margin: 0px 3px;
		}
			
			 #sitewide ul.menu li a,
			 #footer ul.menu li a {
				 display: block;
				 height: 28px;
				 padding: 1px 11px;
				 font-weight: 400;
				 font-size: 14px;
				 line-height: 28px;
				 color: #fff;
				 text-transform: uppercase;
			 }
			 
			 #footer ul.menu li a {
				 color: #4c4c4c;
				 font-weight: 300;
			 }
			 
			 #sitewide ul.menu li a.special ,
			 #footer ul.menu li a.special {
				 border: 1px solid #3fa9dd;
				 padding: 0px 10px;
			 }
			 
			 body.small #sitewide ul.menu li a,
			 body.small #footer ul.menu li a {
				 padding: 1px 8px;
				 font-size: 12px;
			 }
			 
			 body.small #sitewide ul.menu li a.special ,
			 body.small #footer ul.menu li a.special {
				 border: 1px solid #3fa9dd;
				 padding: 0px 7px;
			 }
			 
				#sitewide ul.menu li a:hover,
				#footer ul.menu li a:hover	{
					border: 1px solid #fff;
					padding: 0px 10px;
					color: #40ac5a;
				}
				
				#sitewide ul.menu li a.special:hover,
				#footer ul.menu li a.special:hover {
					color: #3fa9dd;
				}
				
				#footer ul.menu li a:hover {
					border: 1px solid #cccccc;
				}
			
				body.small #sitewide ul.menu li a:hover,
				body.small #footer ul.menu li a:hover {
					padding: 0px 7px;
				}
				
				body.small #sitewide ul.menu li a.special:hover,
				body.small #footer ul.menu li a.special:hover {
					color: #3fa9dd;
					border: 1px solid #ffffff;
				}
				
				#sitewide ul.menu li a.active, #sitewide ul.menu li a.active:hover,
				#footer ul.menu li a.active, #footer ul.menu li a.active:hover {
					padding: 1px 11px;
					background-color: #40ac5a;
					border: 0px;
					color: #fff;
				}
				
				#footer ul.menu li a.active, #footer ul.menu li a.active:hover {
					background: #4c4c4c;
				}
				
				body.small #sitewide ul.menu li a.active, body.small #sitewide ul.menu li a.active:hover,
				body.small #footer ul.menu li a.active, body.small #footer ul.menu li a.active:hover {
					padding: 1px 8px;
				}			
				
#footer {
	width: 100%;
	height: 64px;
	background: #ffffff;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 999;
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}				 
		  
   #footer #api_data_logos {
	   margin: 0px;
	   float: left;
	   line-height: 18px;
		font-size: 12px;
		color: #808080;
		margin-top: 25px;
		font-weight: 300;
   }  
   
	   #footer #api_data_logos a {
		   color: #4c4c4c;
		   font-weight: 400;
	   }
   
	   #footer #api_data_logos a:hover {
		   text-decoration: underline;
	   }
				   
	 
	   #footer #api_data_logos ul {
		   display: inline;
		   list-style:none;
	   }
				   
			#footer #api_data_logos ul li {
				float: left;
				margin-right: 10px;
			}		  
				
				#footer #api_data_logos ul li a {
					display: block;
					height: 18px;
					background-image: url(../images/icons_api.png);
					background-repeat: no-repeat;
				}  
				
					#footer #api_data_logos ul li a:hover {
						background-image: url(../images/icons_api_hover.png);
					}	
				
				#footer #api_data_logos ul li.twitter a {
					width: 17px;
					background-position: 0px 0px;
				}
				
				#footer #api_data_logos ul li.youtube a {
					width: 18px;
					background-position: -28px 0px;
				}
				
				#footer #api_data_logos ul li.lastfm a {
					width: 21px;
					background-position: -55px 0px;
				}
				
				#footer #api_data_logos ul li.google a {
					width: 45px;
					background-position: -87px 0px;
				}
				
	  
#bg_slideshow {
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
} 

#bg_slideshow.opacity {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}	


			#bg_slideshow  img {
				min-height: 110%;
				min-width: 110%;
				margin: -5% 0px 0px -5%;
				
				filter: blur(10px);
				-webkit-filter: blur(10px);
				-moz-filter: blur(10px);
				-o-filter: blur(10px);
				-ms-filter: blur(10px);
				/* filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10'); */
				-webkit-transform: translate3d(0, 0, 0);
				-webkit-backface-visibility: hidden;
				-webkit-perspective: 1000; 
			}		   

#bg_overlay {
	width: 100%;
	height: 349px;
	position: fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	right: 0px;
	background: url(../images/bg_overlay.png) repeat-x;
}

#header {
	width: 100%;
	height: auto;
	position: relative;
}

	body.small #header h1.small {
		max-width: 580px;
	}

	ul#switch {
		 margin: 0px;
		list-style: 0px;
		list-style: none;
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
	
		ul#switch li {
			float: right;
			margin-left: 1px;
			width: 211px;
		}

		body.small ul#switch li {
			width: 151px;
		}
		
			ul#switch li a {
				display: block;
				height: 40px;
				width: 211px;
				background: rgba(0,0,0,0.5);
				padding: 0px;
				margin: 0px;
				font-size: 22px;
				text-transform: uppercase;
				color: #fff;
				font-weight: 300;
				line-height: 40px;
				text-align: center;
				text-shadow: 1px 1px rgba(0,0,0,0.3); 
			}
				
				body.small ul#switch li a {
					height: 34px;
					font-size: 18px;
					line-height: 34px;
					width: 151px;
				}
				
				ul#switch li a:hover {
					border: 1px solid #fff;
					height: 38px;
					line-height: 38px;
					width: 209px;
					color: #40ac5a;
				}
				
					body.small ul#switch li a:hover {
						height: 32px;
						line-height: 32px;
						width: 149px;
					}
				
				ul#switch li.active a {
					background: #40ac5a;
					border: 0px;
					color: #fff;
					height: 40px;
					line-height: 38px;
					width: 211px;
				}
				
					body.small ul#switch li.active a {
						height: 34px;
						font-size: 18px;
						line-height: 34px;
						width: 151px;
					}

			ul#switch li ul {
				margin: 0px;
				list-style: 0px;
				list-style: none;
				margin-top: 0px;
				display: none;
			}

			ul#switch li.active ul {
				display: block;
				margin-top: 1px;
				width: 425px;
			}

			body.small ul#switch li ul {
				width: 305px;
			}

				ul#switch li ul.left {
					margin-left: -2px;
				}

				ul#switch li ul li,
				ul#switch li.active ul li {
					float: right;
					margin-left: 1px;
					width: auto;
				}
					
					ul#switch li ul li a,
					ul#switch li.active ul li a {
						display: block;
						height: 30px;
						width: 105px;
						background: rgba(64, 172, 90, 0.5);
						padding: 0px;
						margin: 0px;
						font-size:14px;
						text-transform: uppercase;
						color: #fff;
						font-weight: 300;
						line-height: 30px;
						text-align: center;
						text-shadow: 1px 1px rgba(0,0,0,0.3); 
					}
						
						body.small ul#switch li ul li a, 
						body.small ul#switch li.active ul li a {
							height: 26px;
							font-size: 10px;
							line-height: 26px;
							width: 75px;
						}
						

						ul#switch li ul li a:hover,
						ul#switch li.active ul li a:hover  {
							border: 1px solid #fff;
							height: 28px;
							line-height: 28px;
							width: 103px;
							color: #40ac5a;
							background: none;
						}
									
							body.small ul#switch li ul li a:hover,
							body.small ul#switch li.active ul li a:hover {
								height: 24px;
								line-height: 24px;
								width: 73px;
							}
						
						ul#switch li ul li.active a, ul#switch li ul li.active a:hover,
						ul#switch li.active ul li.active a, ul#switch li.active ul li.active a:hover {
							background: #40ac5a;
							border: 0px;
							color: #fff;
							height: 30px;
							line-height: 30px;
							width: 105px;
						}
							
							body.small ul#switch li ul li.active a, body.small ul#switch li ul li.active a:hover,
							body.small ul#switch li.active ul li.active a, body.small ul#switch li.active ul li.active a:hover	{
								height: 26px;
								font-size: 10px;
								line-height: 26px;
								width: 75px;
							}


#grid {
	width: 1430px;
	margin: 20px 0px 0px 0px;
	position: relative;
	padding-bottom: 140px;
}	

body.small #grid {
	width: 910px;
}

	#grid ul {
		width: 100%;
		margin: 0px;
		list-style: none;
	}
		
		#grid ul li {
			position: relative;
		}

		#grid ul li.claim {
			width: 456px;
			height: 282px;
			background: rgba(0,0,0,0.4);
			float: right;
			padding: 25px 30px 0px 30px;
			text-align: right;
			position: relative;
			margin-bottom: 4px;
			margin-right: 4px;
		}

		#grid ul li.about, #grid ul li.about p {
			font-size: 16px;
			color: white;
		}

		#grid ul li.about {
			text-align: left;
			height: 100%;
			width: 846px;
			background: rgba(0,0,0,0.4);
			float: left;
			padding: 25px 30px 0px 30px;
			position: relative;
			margin-bottom: 4px;
			margin-right: 4px;
		}

		#grid ul li.about .logo_balk img {
			height: 65px;
			text-align: center;
		}

		#grid ul li.about .logo_balk a {
			display: inline-block;
			width: 25%;
		}

		body.small #grid ul li.claim {
			width: 846px;
		}
		
			#grid ul li.claim h2 {
				color: #b2b2b2;
				font-weight: 300;
				text-shadow: 1px 1px rgba(0,0,0,0.3);
				font-size: 34px;
				text-transform: none;
			}

			#grid ul li.claim .total_songs {
				color: #ffffff;
				font-weight: 700;
				text-shadow: 1px 1px rgba(0,0,0,0.3);
				font-size: 60px;
				line-height: 60px;
			}
			
			#grid ul li.claim h3 {
				color: #b2b2b2;
				font-weight: 300;
				text-shadow: 1px 1px rgba(0,0,0,0.3);
				font-size: 24px;
			}

			#grid ul li.claim .total_artists {
				color: #ffffff;
				font-weight: 700;
				text-shadow: 1px 1px rgba(0,0,0,0.3);
				font-size: 50px;
				line-height: 50px;
			}
			
			#grid ul li .twitter_balk {
				left: 0px;
				bottom: 0px;
				position: absolute;
				width: 100%;
				height: 44px;
				background: rgba(0,0,0,0.5);
			}
				

				.tickercontainer { /* the outer div with the black border */
					background: none;
					width: 100%; 
					height: 44px;
					margin: 0; 
					padding: 0;
					overflow: hidden; 
				}
					.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
						position: relative;
						left: 0px;
						top: 0px;
						width: 100%;
						overflow: hidden;
					}
						ul.newsticker { /* that's your list */
							position: relative;
							left: 0px;
							margin: 0;
							padding: 0;
						}
	  


			 
				#grid ul li .twitter_balk ul {
					height: 20px;
					margin: 12px 0px 0px 0px;
					width: 999999px;
				}
				
					#grid ul li .twitter_balk ul li {
						float: left;
						margin-right: 20px;
						padding-right: 20px;
						color: #fff;
						border-right: 1px solid #808080;
						font-size: 14px;
						line-height: 20px;
					}
					
						#grid ul li .twitter_balk ul li a {
							color: #3fa9dd;
						}
						
						#grid ul li .twitter_balk ul li a.tweeter {
							color: #40ac5a;
						}
							
							#grid ul li .twitter_balk ul li a:hover {
								text-decoration: underline;
							}
					
						
		#grid ul li.big,
		#grid ul li.small  {
			width: 177px;
			height: 177px;
			display: block;
			cursor: pointer;
			margin-right: 5px;
			margin-bottom: 4px;
			float: left;
		}	  
		
		#grid ul li.small {
			width: 126px;
			height: 126px;
			margin-right: 4px;
		}
		
		body.small #grid ul li.small.hide_small {
			display: none !important; 
		}
			
			#grid ul li.big .thumb {
				width: 177px;
				height: 177px;
				overflow: hidden;
			}
			
				#grid ul li.big .thumb img.hor {
					width: 100%;  
				}
				
				#grid ul li.big .thumb img.ver {
					height: 100%;  
				}
			
			#grid ul li.small .thumb  {
				width: 126px;
				height: 126px;
				overflow: hidden;
			}
				
				#grid ul li.small .thumb img.hor {
					width: 100%;  
				}
				
				#grid ul li.small .thumb img.ver {
					height: 100%;  
				}
			
				#grid ul li.big:hover .thumb img,
				#grid ul li.small:hover .thumb img {
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
					filter: alpha(opacity=60);
					-moz-opacity:0.6;
					-khtml-opacity: 0.6;
					opacity: 0.6;
				}  
			
			#grid ul li.big .info,
			#grid ul li.small .info {
				display: none;
			}
			
			#grid ul li.big:hover .info,
			#grid ul li.small:hover .info {
				display: block
			} 
			
				#grid ul li.big .song-info,
				#grid ul li.small .song-info {
					position: absolute;
					top: 16px;
					left: 12px;
					width: 153px;
					text-shadow: 1px 1px rgba(0,0,0,0.3);
					color: #fff;
				}
				
				#grid ul li.small .song-info { 
					top: 6px;
					left: 6px;
					width: 114px;
				}
				
					#grid ul li.big .song-info .title {
						font-size: 22px;
						line-height: 28px;
						font-weight: 700;
						text-transform: capitalize;
					}
					
					#grid ul li.small .song-info .title {
						font-size: 16px;
						line-height: 22px;
						font-weight: 700;
						text-transform: capitalize;
					}
					
					#grid ul li.big .song-info .artist {
						font-size: 16px;
						line-height: 22px;
						font-weight: 400;
					}
					
					#grid ul li.small .song-info .artist {
						font-size: 12px;
						line-height: 18px;
						font-weight: 400;
					}
					
			   #grid ul li.big .times-play {
					position: absolute;
					bottom: 23px;
					left: 12px;
					width: 83px;
					font-size: 12px;
					line-height: 12px;
					text-shadow: 1px 1px rgba(0,0,0,0.3);
					color: #999999;
				}
				
				#grid ul li.big .play-btn,
				#grid ul li.small .play-btn {
					position: absolute;
					right: 15px;
					bottom: 15px;
					width: 40px;
					height: 40px;
					border: 2px solid #40ac5a;
					-moz-border-radius: 22px;
					-webkit-border-radius: 22px;
					-khtml-border-radius: 22px;
					border-radius: 22px;
					background: transparent;
				}
				
				#grid ul li.small .play-btn {
					right: 10px;
					bottom: 10px;
				}
					
					#grid ul li.big .play-btn:hover,
					#grid ul li.small .play-btn:hover {
						border: 2px solid #3fa9dd;
					}
				
					#grid ul li.big .play-btn span,
					#grid ul li.small .play-btn span {
						width: 30px;
						height: 30px;
						margin-top: 5px;
						margin-left: 5px;
						background: rgba(0,0,0,0.5);
						-moz-border-radius: 15px;
						-webkit-border-radius: 15px;
						-khtml-border-radius: 15px;
						border-radius: 15px;
						display: block;
					}
					
						#grid ul li.big .play-btn span img,
						#grid ul li.small .play-btn span img {
							margin-top: 8px;
							margin-left: 9px;
						}



				#grid ul li.big,
				#grid ul li.small  {
				   -webkit-perspective: 800px;	
					  -moz-perspective: 800px; 
					   -ms-perspective: 800px;	
						   perspective: 800px;
				}
				#grid ul li.big .card.flipped,
				#grid ul li.small .card.flipped	 {
				  -webkit-transform: rotateY(-180deg); 
					 -moz-transform: rotateY(-180deg);	   
					  -ms-transform: rotateY(-180deg);		
						  transform: rotateY(-180deg);			
				}
				#grid ul li.big .card,
				#grid ul li.small .card {
				  width: 100%;
				  height: 100%;
				  -webkit-transform-style: preserve-3d;
					 -moz-transform-style: preserve-3d;
					  -ms-transform-style: preserve-3d;
						  transform-style: preserve-3d;
				  -webkit-transition: 0.8s;
					 -moz-transition: 0.8s; 
					   -o-transition: 0.8s; 
						  transition: 0.8s; 
				  
				}
				#grid ul li.big .card .face,
				#grid ul li.small .card .face  {
				  width: 100%;
				  height: 100%;
				  position: absolute;
				  z-index: 2;
				  background: #000000;
				}
				#grid ul li.big .front,
				#grid ul li.small .front  {
				  position: absolute;
				  z-index: 1;
					top: 0px;
					display: none;
				}
				#grid ul li.big .card .front.active,
				#grid ul li.small .card .front.active {
					display: block;
				}  
				#grid ul li.big .back,
				#grid ul li.small .back	 {
				  -webkit-transform: rotateY(-180deg); 
					 -moz-transform: rotateY(-180deg);	   
					  -ms-transform: rotateY(-180deg);		
						  transform: rotateY(-180deg);	 
					top: 0px; 
					display: none;
				}
				#grid ul li.big .card .back.active,
				#grid ul li.small .card .back.active {
					display: block;
				} 

#player {
	height: 60px;
	width: 100%;
	background: rgba(0,0,0,0.8);
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 4px;
	z-index: 998;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}

	#player .inner {
		height: 60px;
		width: 610px;
		background: #333333;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
	
	#player .inner2 {
		height: 0px;
		width: 610px;
		margin: 0 auto;
		position: relative;
		z-index: 1;
	}
	
		#player .inner .socials {
			float: left;
			margin: 0px 7px;
		}
		
			#player .inner .socials a {
				width: 24px;
				display: block;
				height: 24px;
				margin: 18px 3px;
				background-image: url(../images/social_icons.png);
				background-repeat: no-repeat; 
				float: left;
			}
				
				#player .inner .socials a.facebook {
					background-position: 0px 0px;
				}

					#player .inner .socials a.facebook:hover {
						background-position: -24px 0px;
					}
				
				#player .inner .socials a.twitter {
					background-position: 0px -24px;
				}
				
					#player .inner .socials a.twitter:hover {
						background-position: -24px -24px;
					}
					
		#player .inner #show_youtube {
			float: left;
			display: block;
			width: 60px;
			height: 60px;
			background: url(../images/icon_youtube.png) center center no-repeat #262626;
			cursor: pointer;
		}
		
			#player .inner #show_youtube:hover {
				background: url(../images/icon_youtube_active.png) center center no-repeat #e32d33;
			}
			
			#player .inner #show_youtube.active {
				background: url(../images/icon_youtube_active.png) center center no-repeat #e32d33;
			}
			
			#player .inner #show_youtube.active:hover {
				background: url(../images/icon_youtube.png) center center no-repeat #262626;
			}
			
			
		#player .inner #play-btn {
			margin: 8px 9px;
			width: 40px;
			height: 40px;
			border: 2px solid #40ac5a;
			-moz-border-radius: 22px;
			-webkit-border-radius: 22px;
			-khtml-border-radius: 22px;
			border-radius: 22px;
			background: transparent;
			cursor: pointer;
		}
		
			#player .inner #play-btn:hover {
				border: 2px solid #3fa9dd;
			}
		
			#player .inner #play-btn span {
				width: 30px;
				height: 30px;
				margin-top: 5px;
				margin-left: 5px;
				background: rgba(0,0,0,0.5);
				-moz-border-radius: 15px;
				-webkit-border-radius: 15px;
				-khtml-border-radius: 15px;
				border-radius: 15px;
				display: block;
			}
			
				#player .inner #play-btn img {
					margin-top: 8px;
					margin-left: 9px;
				}
	
		#player .inner #thumb {
			width: 60px;
			height: 60px;
			overflow: hidden;
			cursor: pointer; 
			background: #000000;
		} 
		
			#player .inner #thumb:hover {
				-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
				filter: alpha(opacity=60);
				-moz-opacity:0.6;
				-khtml-opacity: 0.6;
				opacity: 0.6;
			}
			
			#player .inner #thumb img.hor {
				width: 100%;  
			}
			
			#player .inner #thumb img.ver {
				height: 100%;  
			}
		
		#player .inner #player_balk {
			width: 314px;
			padding: 0px 20px;
			height: 60px;
			position: relative;
		}	 
		
            #player .inner #player_balk .tickercontainer {
				margin-top: 12px;
    			overflow: hidden;
				z-index: 2;
                position: relative;
            }
            
			#player .inner #player_balk .tickercontainer .song {
				font-size: 16px;
				line-height: 16px;
				color: #fff;
				text-shadow: 2px 2px rgba(0,0,0,0.3);
				font-weight: 400;
				position: absolute;
				z-index: 2;
                white-space: nowrap;
			}
		
				#player .inner #player_balk .tickercontainer .song .title {
					font-size: 22px;
					line-height: 22px;
					font-weight: 700;
				}
			
			#player .inner #player_balk .time {
				margin-top: 4px;
				font-size: 12px;
				line-height: 12px;
				color: #e5e5e5;
				text-shadow: 1px 1px rgba(0,0,0,0.3);
				font-weight: 400;
				position: relative;
                top: -20px;
				z-index: 2;
			}
			
			
			#player .inner #player_balk #time_balk {
				width: 22%;
				background: #40ac5a;
				height: 60px;
				position: absolute;
				top: 0px;
				left: 0px;
				z-index: 1;
			}
	 
		#player #youtube {
			position: absolute;
			height: 342px;
			width: 600px;
			top: 60px;
			left: 0px;
			background: rgba(0,0,0,0.8);
			padding: 5px 5px 0px 5px;
		}		
 
#chart_div_plot, #chart_div {
    width: 885px;
/*    margin-top: 40px;*/
    height: 300px;
/*    padding-bottom: 140px;*/
}
/*#chart_div_plot #msg {
    margin-left: 40px;
}
*/	body.small #chart_div, 
	body.small #chart_div_plot {
        width: 885px;
/*        width: 900px;*/
        height: 250px;
/*        margin-left: -40px;*/
	}

#map_div {
	width: 1280px;
	margin-top: 40px;
	height: 1024px;
	padding-bottom: 140px;
}

	body.small #map_div {
		width: 885px;
		height: 550px;
	}

ul#popular_now {
	margin: 0px;
	width: 100%;
	list-style: none;
	margin-top: 30px;
	padding-bottom: 140px;
}	
	
	ul#popular_now li {
		float: none;
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.2);
		padding: 0px 0px 0px 0px;
		overflow: hidden;
	}
	
		ul#popular_now li ul {
			list-style: none;
			border-bottom: 1px solid rgba(0,0,0,0.2);
			padding: 10px 0px;
			background: rgba(0,0,0,0);
		}
		
			ul#popular_now li ul:hover {
				background: rgba(0,0,0,0.2); 
				cursor: pointer;
			}
	
			ul#popular_now li ul li {
				display: block;
				float: left;
				border-bottom: 0px;
				padding: 0px;
				position: relative;
				overflow: visible;
			}	   
			
			ul#popular_now li ul li.number {
				width: 45px;
				margin-right: 20px;
				text-align: center;
			}	 
			
			ul#popular_now li ul li.artist {
				width: 40px;
				margin-right: 20px;
			}	 
			
			ul#popular_now li ul li.song {
				width: 1046px;
				margin-right: 20px;
			}  

				body.small ul#popular_now li ul li.song {
					width: 526px;
				}
			
			ul#popular_now li ul li.statistics {
				width: 161px;
				margin-right: 20px;
			}  
			
			ul#popular_now li ul li.play {
				width: 44px;
				margin-right: 10px;
				text-align: center;
			}  
		  
	 ul#popular_now li.head {
		 font-size: 12px;
		 font-weight: 300;
		 color: #808080;
		 line-height: 18px;
		 text-transform: uppercase;
		 text-shadow: 1px 1px rgba(0,0,0,0.3);
	 }

		 ul#popular_now li.head ul:hover {
			background: none;
			cursor: default;
		}
	 
		ul#popular_now li.head ul li.artist {
			width: 80px;
		}
		
		ul#popular_now li.head ul li.song {
			width: 1005px;	 
		}

			body.small ul#popular_now li.head ul li.song {
				width: 486px;
			}
	 
	 ul#popular_now li.row {
		 color: #ffffff;
		 text-shadow: 1px 1px rgba(0,0,0,0.3);
	 }
	 
		ul#popular_now li.row ul {
			
		}
		
			ul#popular_now li.row ul li {
				
			}
	 
			ul#popular_now li.row ul li.number {
				 font-size: 22px;
				 font-weight: 700;
				 line-height: 40px;
				 height: 40px;
			}
				
				ul#popular_now li.row.first ul li.number {
					height: 80px;
					line-height: 80px;
					font-size: 60px;
				}  
				
				ul#popular_now li.row.second ul li.number,
				ul#popular_now li.row.third ul li.number {
					height: 80px;
					line-height: 80px;
					font-size: 40px;
				}  
			
			ul#popular_now li.row ul li.artist {
				
			}
				ul#popular_now li.row.first ul li.artist,
				ul#popular_now li.row.second ul li.artist, 
				ul#popular_now li.row.third ul li.artist  {
					width: 80px;
				}
				
			
				ul#popular_now li.row ul li.artist .thumb {
					width: 40px;
					height: 40px;
					overflow: hidden;
					float: left;
					-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
					-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
					box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
				}
				
					 ul#popular_now li.row.first ul li.artist .thumb,
					 ul#popular_now li.row.second ul li.artist .thumb,
					 ul#popular_now li.row.third ul li.artist .thumb {
						 height: 80px;
						 width: 80px;
					 }
				
					 ul#popular_now li.row ul li.artist .thumb img.hor {
						width: 100%;  
					 }
					
					 ul#popular_now li.row ul li.artist .thumb img.ver {
						height: 100%;  
					 }
			
			ul#popular_now li.row ul li.song {
				 font-size: 14px;
				 font-weight: 700;
				 line-height: 40px;
				 height: 36px;
				 padding-top: 4px;
				 line-height: 16px;
			}

				body.small ul#popular_now li.row ul li.song {
					font-size: 13px;
				}
			
				ul#popular_now li.row.first ul li.song {
					width: 1005px;	 
					height: 80px; 
					padding-top: 12px;
					line-height: 26px;
					font-size: 24px;
				}

					body.small ul#popular_now li.row.first ul li.song {
						width: 486px;
						height: 65px; 
						padding-top: 15px;
						line-height: 24px;
						font-size: 20px;
					}

				ul#popular_now li.row.second ul li.song,
				ul#popular_now li.row.third ul li.song {
					width: 1005px;	 
					height: 58px;
					padding-top: 18px;
					line-height: 22px;
					font-size: 18px;
				}

					body.small ul#popular_now li.row.second ul li.song,
					body.small ul#popular_now li.row.third ul li.song {
						width: 486px;
						font-size: 16px;
						height: 58px;
						padding-top: 22px;
						line-height: 18px;
					}
			
				big {
					text-transform: capitalize;
				}
				
				ul#popular_now li.row ul li.song big {
					 font-size: 22px;
				}

				body.small ul#popular_now li.row ul li.song big {
					 font-size: 18px;
				}
					
					ul#popular_now li.row.first ul li.song big {
						 font-size: 50px;
					}
					
					body.small ul#popular_now li.row.first ul li.song big {
						 font-size: 40px;
					}

					ul#popular_now li.row.second ul li.song big,
					ul#popular_now li.row.third ul li.song big {
						 font-size: 32px;
					}
					
					body.small ul#popular_now li.row.second ul li.song big,
					body.small ul#popular_now li.row.third ul li.song big {
						 font-size: 26px;
					}

				ul#popular_now li.row ul li.song small{
					 font-size: 14px;
				}

				body.small ul#popular_now li.row ul li.song small {
					 font-size: 13px;
				}
					
					ul#popular_now li.row.first ul li.song small {
						 font-size: 24px;
					}
					
					body.small ul#popular_now li.row.first ul li.song small{
						 font-size: 20px;
					}

					ul#popular_now li.row.second ul li.song small,
					ul#popular_now li.row.third ul li.song small {
						 font-size: 18px;
					}
					
					body.small ul#popular_now li.row.second ul li.song small,
					body.small ul#popular_now li.row.third ul li.song small {
						 font-size: 16px;
					}
		   
			ul#popular_now li.row ul li.statistics {
				font-size: 12px;
			}  
				
				ul#popular_now li.row ul li.statistics .stats {
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					filter: alpha(opacity=0);
					-moz-opacity:0;
					-khtml-opacity: 0;
					opacity: 0;
				}
				
				ul#popular_now li.row:hover ul li.statistics .stats,
				ul#popular_now li.row.first ul li.statistics .stats,
				ul#popular_now li.row.second ul li.statistics .stats,
				ul#popular_now li.row.third ul li.statistics .stats {
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
					filter: alpha(opacity=100);
					-moz-opacity:1;
					-khtml-opacity: 1;
					opacity: 1;
				}
			
		   
		   ul#popular_now li.row ul li.play {
			   
		   } 
			   
			   ul#popular_now li.row ul li.play .play-btn {
					width: 40px;
					height: 40px;
					border: 2px solid #40ac5a;
					-moz-border-radius: 22px;
					-webkit-border-radius: 22px;
					-khtml-border-radius: 22px;
					border-radius: 22px;
					background: transparent;
					text-align: left;
					position: absolute;
					top: -2px;
					left: 0px;
					-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
					filter: alpha(opacity=0);
					-moz-opacity:0;
					-khtml-opacity: 0;
					opacity: 0;
			   }
					
					ul#popular_now li.row:hover ul li.play .play-btn {
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity=100);
						-moz-opacity:1;
						-khtml-opacity: 1;
						opacity: 1;
					}
					
					ul#popular_now li.row.first ul li.play .play-btn,
					ul#popular_now li.row.second ul li.play .play-btn,
					ul#popular_now li.row.third ul li.play .play-btn {
						top: 18px;
						-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
						filter: alpha(opacity=100);
						-moz-opacity:1;
						-khtml-opacity: 1;
						opacity: 1;
					}
					
					ul#popular_now li.row ul li.play .play-btn:hover {
						border: 2px solid #3fa9dd;
					}
				
					ul#popular_now li.row ul li.play .play-btn span {
						width: 30px;
						height: 30px;
						margin-top: 5px;
						margin-left: 5px;
						background: rgba(0,0,0,0.5);
						-moz-border-radius: 15px;
						-webkit-border-radius: 15px;
						-khtml-border-radius: 15px;
						border-radius: 15px;
						display: block;
					}
					
						ul#popular_now li.row ul li.play span img {
							margin-top: 8px;
							margin-left: 9px;
						} 

#calender_container {
	width: 100%;
	margin-top: 40px;
	height: 910px;
}

#calendar {
	width: 906px;
	margin: 0 auto;
	position: relative;
	height: 764px;
	overflow: hidden;
}

#lb_bg {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
	position: fixed;
	z-index: 0px;
	top: 0px;
	left: 0px;
	z-index: 995;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
	display: none;
}
	
	#lb_bg #lb_loader,
	#lb_bg #errorContainer {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -24px 0px 0px -24px;
	}
	

#lb {
	position: fixed;
	z-index: 996;
	top: -100%;
	width: 120%;
	display: none;
}
	
	#lb .lb_center {
		width: 980px;
		margin: 0 auto;
		position: relative;
	}
	
	#lb #lb_center_balk {
		width: 100%;
		position: relative;
		z-index: 3;
	}
	
	   #lb #lb_center_balk .lb_outer_close {
		   width: 100%;
		   height: 40px;
		   position: absolute;
		   z-index: 1;
	   }

	#lb #lb_center_frame {
		width: 100%;
		overflow-x:hidden;
		overflow:hidden;
	}
	
	   #lb #lb_center_frame .lb_outer_close {
		   width: 100%;
		   height: 100%;
		   position: absolute;
		   z-index: 1;
	   }

	#lb #lb_balk {
		background: #ffffff;
		height: 40px;
		position: relative;
		z-index: 2;
	}
		
		#lb #lb_balk #lb_close {
			float: right;
			margin: 8px 10px 0px 0px;
			cursor: pointer;
		}
		
			#lb #lb_balk #lb_close span {
				float: left;
				display: block;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 300;
				color: #808080;
				margin: 2px 5px 0px 0px;
			}
			
				#lb #lb_balk #lb_close:hover span {
					color: #3fa9dd;
				}
		   
			#lb #lb_balk #lb_close .close-btn {
				width: 24px;
				height: 24px;
				-moz-border-radius: 24px;
				-webkit-border-radius: 24px;
				-khtml-border-radius: 24px;
				border-radius: 24px;
				background: url(../images/btn_close.png) no-repeat;
				cursor: pointer;
				float: left;
			}
			
				#lb #lb_balk #lb_close:hover .close-btn {
					background: url(../images/btn_close_hover.png) no-repeat;
				}
			
			 
					
		   #lb #lb_balk .socials {
				padding: 8px 10px 8px 0px;
				border-right: 1px solid #e5e5e5;
				margin-right: 10px;
			}
			
				#lb #lb_balk .socials span {
					float: left;
					display: block;
					height: 24px;
					line-height: 24px;
					margin: 0px 3px;
					font-weight: 300;
					color: #999999;
					font-size: 12px;
					text-transform: uppercase;
				}
			
				#lb #lb_balk .socials a {
					width: 24px;
					display: block;
					height: 24px;
					margin: 0px 3px;
					background-image: url(../images/social_icons.png);
					background-repeat: no-repeat; 
					float: left;
				}
					
					#lb #lb_balk .socials a.facebook {
						background-position: 0px 0px;
					}
	
						#lb #lb_balk a.facebook:hover {
							background-position: -24px 0px;
						}
					
					#lb #lb_balk a.twitter {
						background-position: 0px -24px;
					}
					
					   #lb #lb_balk a.twitter:hover {
							background-position: -24px -24px;
						}
						
			#lb #lb_balk #lb_back {
				float: left;
				margin: 8px 0px 0px 10px;
				cursor: pointer;
			}
			
				#lb #lb_balk #lb_back span.title {
					float: right;
					display: block;
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 300;
					color: #808080;
					margin: 2px 0px 0px 5px;
				}
				
					#lb #lb_balk #lb_back:hover span.title {
						color: #3fa9dd;
					}
			   
				#lb #lb_balk #lb_back .back-btn {
					width: 24px;
					height: 24px;
					-moz-border-radius: 24px;
					-webkit-border-radius: 24px;
					-khtml-border-radius: 24px;
					border-radius: 24px;
					cursor: pointer;
					float: left;
					background: url(../images/btn_back.png) no-repeat;
				}
				
					#lb #lb_balk #lb_back:hover .back-btn {
						background: url(../images/btn_back_hover.png) no-repeat;
					}
				
				   
	
	#lb #lb_frame {
		min-height: 98px;
		background: #ffffff;
		position: relative;
		z-index: 2;
	}
	
	#lb #lb_frame img#load_always {
		position: fixed;
		top: -10px;
		left: -10px;
	}
	
	#lb .lb_content {
	   
	} 
	
		#lb .artist_bio {
		   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		   box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		}
	
		#lb .lb_header {
		   height: 98px;
		   position: relative;
		   border-top: 1px solid #e5e5e5;
		} 

			#lb .lb_header .play-btn {
				width: 40px;
				height: 40px;
				border: 2px solid #40ac5a;
				-moz-border-radius: 22px;
				-webkit-border-radius: 22px;
				-khtml-border-radius: 22px;
				border-radius: 22px;
				background: transparent;
				text-align: left;
				position: absolute;
				top: 27px;
				left: 30px;
				display: none;
				z-index: 3;
				cursor: pointer;
			}

				#lb .lb_header .play-btn {
					display: block;
				}

				#lb .lb_header .play-btn:hover {
					border: 2px solid #3fa9dd;
				}

				#lb .lb_header .play-btn span {
					width: 30px;
					height: 30px;
					margin-top: 5px;
					margin-left: 5px;
					background: rgba(0,0,0,0.5);
					-moz-border-radius: 15px;
					-webkit-border-radius: 15px;
					-khtml-border-radius: 15px;
					border-radius: 15px;
					display: block;
				}

					#lb .lb_header span img {
						margin-top: 8px;
						margin-left: 9px;
					} 

			#lb .lb_header .text {
				position: relative;
				z-index: 3;
				margin-left: 100px;
			}
			
				#lb .lb_header .text h1 {
					font-size: 60px;
					font-weight: 700;
					line-height: 70px;
				}

				#lb .lb_header .text h2 {
					color: #ffffff;
					margin-top: 5px;
				}

				#lb .lb_header .text h3 {
					color: #ffffff;
					font-size: 16px;
					margin-bottom: 8px;
					line-height: 16px;
				}
				
				#lb .lb_header .text .streamwatched {
					font-weight: 300;
					color: #999999;
					font-size: 14px;
					text-transform: uppercase;
					text-shadow: 1px 1px rgba(0,0,0,0.3);
				}
				
					#lb .lb_header .text .streamwatched .green {
						font-weight: 700;
					}
			
			#lb .lb_header ul.lb_thumbs {
				position: absolute;
				z-index: 1;
				top: 0px;
				left: 0px;
				width: 100%;
				list-style: none;
			}
			
				#lb .lb_header ul.lb_thumbs li {
					width: 98px;
					height: 98px;
					float: left;
					overflow: hidden;
				}
				
					#lb .lb_header ul.lb_thumbs li img.ver {
						width: 105%;
					}
					
					#lb .lb_header ul.lb_thumbs li img.hor {
						height: 105%;
					}
			
			#lb .lb_header .lb_thumbs_overlay {
				position: absolute;
				z-index: 2;
				top: 0px;
				left: 0px;
				height: 98px;
				width: 100%;
				background: url(../images/lb_header_overlay.png) no-repeat;
			}
		
		#lb .popular {
		   -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		   -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		   box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		}
		
		#lb .lb_header_2 {
			height: 77px;
			background: #f1f1f1;
			border-top: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
			padding: 0px 30px;
		}
		
			#lb .lb_header_2 h2 {
				margin: 18px 0px 15px 0px;
			}
		
		
		#lb .lb_content .lb_inner {
			padding: 1px 30px 30px 30px;
		}
		
		#lb .lb_content h4 {
			margin: 20px 0px 15px 0px;
		}
		
		#lb .lb_content h2 {
			margin: 20px 0px 15px 0px;
			color: #4c4c4c;
		}

		#lb .lb_content .lb_two_column {
			width: 100%;
			margin-top: 20px;
		}
		
			#lb .lb_content .lb_two_column h4 {
				margin: 20px 0px 8px 0px;
			}
		
			#lb .lb_content .lb_two_column .column_left {
				width: 445px;
				float: left;
			}
			
			#lb .lb_content .lb_two_column .column_right {
				width: 445px;
				float: right;
			}
		
	#lb .lb_content .compare_with {
		display: block;
		padding: 20px;
		margin-top: 20px;
		background: #f1f1f1;
	} 
	  
		#lb .lb_content .compare_with .compare {
			width: 413px;
			height: 50px;
			float: left;
			border-right: 1px solid #6c6c6c;
			border-bottom: 1px solid #6c6c6c;
		}  
		
			#lb .lb_content .compare_with .compare .inner {
				height: 46px;
				width: 100%;
				position: relative;
				background: #ffffff;
			}
				
				#lb .lb_content .compare_with .compare.blue .inner {
					border-bottom: 4px solid #2f7bf4;
				}
				
				#lb .lb_content .compare_with .compare.green .inner {
					border-bottom: 4px solid #40ac5a;
				}
 
				#lb .lb_content .compare_with .compare .inner .text {
					height: 46px;
					width: 100%;
					text-align:center;
					color: #4c4c4c;
					font-size: 18px;
					line-height: 46px;
					font-weight: 300;
				}
				
					#lb .lb_content .compare_with .compare.blue .inner .text span {
						font-weight: 700;
						color: #2f7bf4;
					}
					
					#lb .lb_content .compare_with .compare.green .inner .text span {
						font-weight: 700;
						color:	#40ac5a;
					}
				 
					#lb .lb_content .compare_with .compare .inner .text img {
						margin: 0px 0px -3px 6px;
					} 
					
					#lb .lb_content .compare_with .compare.new:hover .inner .text {
						 background: #ffffcc;
						 cursor: pointer;
					}

				#lb .lb_content .compare_with .compare .inner form#compare {
					height: 46px;
					width: 100%;
					text-align:left;
					color: #4c4c4c;
					font-size: 18px;
					line-height: 46px;
					font-weight: 300;
					display: none;
				}
				
					#lb .lb_content .compare_with .compare .inner form#compare input {
						width: 393px;
						padding: 11px 10px;
						height: 24px;
						line-height: 24px;
						font-weight: 700;
						font-family: 'Lato',  helvetica, arial, sans-serif;
						font-size: 18px;
						color: #40ac5a;
					}
					
						#lb .lb_content .compare_with .compare .inner form#compare input:focus {
							background: #ffffcc;
						}
				
					#lb .lb_content .compare_with .compare .inner form#compare input.submit {
						display: none;
					}
					
		#lb .lb_content .compare_with .icon {
			float: left;
			height: 50px;
			width: 52px;
			background: url(../images/plus_icon.png) center center no-repeat;
		}
			
	 #lb .lb_content .compare_with_graphic {
		 margin-top: 15px;
		 border-bottom: 1px solid #e5e5e5;
	 }
	 
		#lb .lb_content .compare_with_graphic img {
			display: block;
		}
		
	 #lb .lb_content .biography {
		  margin-top: 15px;
		  position: relative;
	 }	 
	 
		#lb .lb_content .biography p {
			color: #4c4c4c;
			font-size: 16px;
			line-height: 22px;
		}
	 
	 #lb .lb_content .read_more {
		 color: #4c4c4c;
		 font-size: 14px;
		 text-align: right;
	 }
	 
	 #lb .lb_content .listing {
		  margin: 0px;
		  overflow: hidden;
		  height: 176px;
		  padding-right: 20px;
		  background: #f1f1f1;
		  position: relative;
	 }
	 
		#lb .lb_content .listing .scroll_buttons {
			width: 16px;
			position: absolute;
			right: 0px;
			top: 0px;
			height: 175px;
			background: #e5e5e5;
		}
		
			#lb .lb_content .listing .scroll_buttons .up {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 8px;
				height: 8px;
				padding: 4px;
				background: #c9ced1;
			}
			
			#lb .lb_content .listing .scroll_buttons .down {
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 8px;
				height: 8px;
				padding: 4px;
				background: #c9ced1;
			}
			
				#lb .lb_content .listing .scroll_buttons .up:hover,
				#lb .lb_content .listing .scroll_buttons .down:hover {
					background: #b0b5b8;  
					cursor: pointer; 
				} 
			
				#lb .lb_content .listing .scroll_buttons img {
					display: block;
					width: 8px;
				}
			  
			  
	 #lb .lb_content .listing ul {
		  margin: 0px;
		  list-style: none;
		  border-top: 1px solid #e5e5e5;
	 }

		  #lb .lb_content .listing ul li {
			  height: 34px;
			  overflow: hidden;
			  line-height: 34px;
			  font-size: 14px;
			  padding: 0px 5px;
			  border-bottom: 1px solid #e5e5e5;
		  }	 
			
			#lb .lb_content .listing ul li .number {
				width: auto;
				float:left;
				text-align: left;
				color: #4c4c4c;
				font-weight: 700;
				margin: 0px 5px;
			}
			
			#lb .lb_content .listing ul li .title {
				width: auto;
				float:left;
				text-align: left;
				color: #333333;
				margin: 0px 5px;
			}
			
			#lb .lb_content .lb_two_column .listing ul li .title {
				width: 300px;
			}
			
			
			#lb .lb_content .listing ul li .value {
				width: auto;
				float: right;
				text-align: right;
				font-weight: 700;
				margin: 0px 5px;
				color: #e8a023;
			}
			
				#lb .lb_content .listing ul li:nth-child(1) .value.colored { color: #cb3e00; } 
				#lb .lb_content .listing ul li:nth-child(2) .value.colored { color: #dd6006; } 
				#lb .lb_content .listing ul li:nth-child(3) .value.colored { color: #dd6006; } 
				#lb .lb_content .listing ul li:nth-child(4) .value.colored { color: #e88025; } 
				#lb .lb_content .listing ul li:nth-child(5) .value.colored { color: #e88025; } 
			
			#lb .lb_content .listing ul li .value_balk {
				width: auto;
				float: right;
				text-align: right;
				height: 8px;
				width: 50px;
				background: #c9ced1;
				margin: 13px 5px 0px 5px;
				overflow: hidden;
				position: relative;
			}


				#lb .lb_content .listing ul li .value_balk .procent {
					width: 0px;
					height: 8px;
					position: absolute;
					top: 0px;
					left: 0px;
					background: #e8a023;
				}

					#lb .lb_content .listing ul li:nth-child(1) .value_balk .procent { background: #cb3e00; } 
					#lb .lb_content .listing ul li:nth-child(2) .value_balk .procent { background: #dd6006; } 
					#lb .lb_content .listing ul li:nth-child(3) .value_balk .procent { background: #dd6006; } 
					#lb .lb_content .listing ul li:nth-child(4) .value_balk .procent { background: #e88025; } 
					#lb .lb_content .listing ul li:nth-child(5) .value_balk .procent { background: #e88025; } 
				
			#lb .lb_content .listing ul li .tweet {
				width: auto;
				float:left;
				text-align: left;
				color: #333333;
				margin: 0px 5px;
			}
			
				#lb .lb_content .lb_two_column .listing ul li .tweet {
					width: 254px;
				}
					   
			#lb .lb_content .listing ul li .tweeter {
				width: auto;
				float: right;
				text-align: right;
				font-weight: 700;
				margin: 0px 5px;
			}
				
				#lb .lb_content .lb_two_column .listing ul li .tweeter {
					 width: 120px;
				}

	#lb .lb_content ul.popular_listing {
	  margin: 20px 0px 0px 0px;
	  list-style: none;
	}
	
		#lb .lb_content ul.popular_listing li {
		  overflow: hidden;
		  line-height: 40px;
		  font-size: 14px;
		  border-bottom: 1px solid #e5e5e5;
		  list-style: none;
		}  
		
			#lb .lb_content ul.popular_listing li ul {
				padding: 0px 5px;
			}
			
				#lb .lb_content ul.popular_listing li ul li {
					float: left;
					margin: 0px 5px;
					border: 0px;
					text-align: left;
					list-style: none;
				}
		
					#lb .lb_content ul.popular_listing li ul li.number {
						width: 25px;
						text-align: center;
					}
					
					#lb .lb_content ul.popular_listing li ul li.artist {
						width: 40px;
					}
					
					#lb .lb_content ul.popular_listing li ul li.song {
						width: 595px;
					}
					
					#lb .lb_content ul.popular_listing li ul li.statistics {
						width: 100px;
					}
					
					#lb .lb_content ul.popular_listing li ul li.plays {
						width: 45px;
					}
					
					#lb .lb_content ul.popular_listing li ul li.play {
						width: 45px;
					}
		
			#lb .lb_content ul.popular_listing li.head ul {
				padding: 10px 5px;
				height: 12px;
			}
			
				#lb .lb_content ul.popular_listing li.head ul li {
					color: #808080;
					font-weight: 300;
					text-transform: uppercase;
					font-size: 12px;
					line-height: 12px;
				}
	   
	   #lb .lb_content ul.popular_listing li.row:hover {
		   background: #f2f2f2;
		   cursor: pointer;
	   }
			
			#lb .lb_content ul.popular_listing li.row ul {
				padding: 10px 5px;
				height: 40px;
			} 
			
				#lb .lb_content ul.popular_listing li.row ul li {
					color: #4c4c4c;
					height: 40px;
				}
				
					#lb .lb_content ul.popular_listing li.row ul li.number {
						font-weight: 700;
						color: #4c4c4c;
						font-size: 22px;
						line-height: 40px;
					}
					
					#lb .lb_content ul.popular_listing li.row ul li.artist {
						width: 40px;
						height: 40px;
					}
					
						#lb .lb_content ul.popular_listing li.row ul li.artist .thumb {
							width: 38px;
							height: 38px;
							overflow: hidden;
							float: left;
							-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
							-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
							box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
						}
						
							 #lb .lb_content ul.popular_listing li.row ul li.artist .thumb img.hor {
								width: 100%;  
							 }
							
							 #lb .lb_content ul.popular_listing li.row ul li.artist .thumb img.ver {
								height: 100%;  
							 }
					
					#lb .lb_content ul.popular_listing li.row ul li.song {
						font-weight: 700;
						color: #4c4c4c;
						font-size: 14px;
						line-height: 40px;
					}
					
						#lb .lb_content ul.popular_listing li.row ul li.song big {
							font-size: 22px;
						}
						
					#lb .lb_content ul.popular_listing li.row ul li.plays {
						font-weight: 700;
						color: #60b774;
						font-size: 14px;
						line-height: 40px;
					}
					
					#lb .lb_content ul.popular_listing li.row ul li.play {
						position: relative;
						overflow: visible;
						line-height: 12px;
					}
						#lb .lb_content ul.popular_listing li.row ul li.play .play-btn {
							width: 40px;
							height: 40px;
							border: 2px solid #40ac5a;
							-moz-border-radius: 22px;
							-webkit-border-radius: 22px;
							-khtml-border-radius: 22px;
							border-radius: 22px;
							background: transparent;
							text-align: left;
							position: absolute;
							top: -2px;
							left: 0px;
							display: none;
					   }
							
							#lb .lb_content ul.popular_listing li.row:hover ul li.play .play-btn {
								display: block;
							}

							#lb .lb_content ul.popular_listing li.row ul li.play .play-btn:hover {
								border: 2px solid #3fa9dd;
							}
						
							#lb .lb_content ul.popular_listing li.row ul li.play .play-btn span {
								width: 30px;
								height: 30px;
								margin-top: 5px;
								margin-left: 5px;
								background: rgba(0,0,0,0.5);
								-moz-border-radius: 15px;
								-webkit-border-radius: 15px;
								-khtml-border-radius: 15px;
								border-radius: 15px;
								display: block;
							}
							
								#lb .lb_content ul.popular_listing li.row ul li.play span img {
									margin-top: 8px;
									margin-left: 9px;
								} 

/* Added by Manos */
span.titlecase {
	text-transform: capitalize;
	font-style: italic;
}
span.title, span.info h2 {
	text-transform: capitalize;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #0446ED;
  stroke-width: 2.5px;
}

#player .time {
	display: none;
}

#lb_bg #errorContainer {
	color: #b2b2b2;
	display: none;
	top: 20%;
	left: 20%;
	width: 75%;
}

#lb_bg #errorContainer > h2,
#lb_bg #errorContainer > p {
	color: #ffffff;
}
