body {
    color: #333333;
    background: #111111;
    font-family: 'Lato', helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    -webkit-text-size-adjust: none;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

#bg {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.5;
}

#bg img {
    min-height: 130%;
    min-width: 130%;
    margin: -5% 0 0 -5%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
    filter: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='3'%20/></filter></svg>#blur");
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

#bg_overlay {
    width: 100%;
    height: 349px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background: url(/images/bg_overlay.png) repeat-x;
}

#loading_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #000;
    opacity: 0.75;
}

#loading_overlay.ng-hide-add, 
#loading_overlay.ng-hide-remove {
  -webkit-transition:all cubic 0.25s;
  -moz-transition:all linear 0.25s;
  -o-transition:all linear 0.25s;
  transition:all linear 0.25s;
}

#loading_overlay.ng-hide-add.ng-hide-add-active,
#loading_overlay.ng-hide-remove {
  opacity: 0;
}

#loading_overlay.ng-hide-add,
#loading_overlay.ng-hide-remove.ng-hide-remove-active {
  opacity: .8;
}

#loading_overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0px 0px -24px;
}

ui-view[autoscroll="true"] {
    padding-top: 144px;
    float: left;
}

section#container {
    position: relative;
    z-index: 3;
}

@media (max-width: 991px) {
    section header section.navbar {
        height: 100px
    }

    section header section.sup-header {
        top: 100px;
    }

    section ul#main_menu {
        margin: 0;
    }

    section section#container {
        padding-top: 160px;
    }
}

a {
    text-decoration: none;
    color: #3a82f5;
    font-weight: 700;
}

a:hover {
    color: #003b99;
    text-decoration: none;
}

h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
h1 { font-size: 80px; line-height: 60px; font-weight: 300; color: #ffffff;  text-shadow: 1px 1px rgba(0,0,0,0.3);  }
h1.small { font-size: 24px; line-height: 26px; font-weight: 300; color: #b2b2b2; margin-top: 20px; }
h2 { font-size: 36px; line-height: 40px; font-weight: 700; color: #333333; }
h3 { font-size: 24px; line-height: 26px; font-weight: 700; color: #ffffff;  text-shadow: 1px 1px rgba(0,0,0,0.3); }
h3.small { font-size: 16px; line-height: 18px; font-weight: 400; color: #ffffff; margin-top: 5px; }
h4  {font-size: 20px; line-height: 22px; font-weight: 700;  color: #4c4c4c; }

.base_color { color: #40ac5a;  }
.base_color_bg { background-color: #40ac5a; }
.silver { color: #b2b2b2; }
.white { color: #ffffff; }
.gray { color: #333333; }
.green { color: #40ac5a;  }
.purple { color: #f38fed; }
.blue { color: #3a82f5; }

#page_header {
    position: relative;
}

#page_header h1 {
    font-size: 70px;
    line-height: 50px;
    padding-right: 200px;
}

#page_header h1.small {
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    color: #b2b2b2;
    margin-top: 20px;
    font-size: 22px;
    line-height: 24px;
}

#page_header ul#switch {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    bottom: 0;
    float: right;
}

#page_header ul#switch li {
    float: right;
    margin-left: 1px;
    width: 151px;
}

ul#switch li a {
    display: block;
    height: 34px;
    width: 151px;
    background: rgba(0,0,0,0.5);
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    line-height: 34px;
    text-align: center;
    text-shadow: 1px 1px rgba(0,0,0,0.3); 
}

ul#switch li a:hover {
    border: 1px solid #fff;
    height: 34px;
    line-height: 34px;
    width: 149px;
    color: #40ac5a;
}

ul#switch li.active a {
    background: #40ac5a;
    border: 0;
    color: #fff;
    height: 34px;
    font-size: 18px;
    line-height: 34px;
    width: 151px;
}

/* Header */
header section.navbar {
    height: 50px;
    border-radius: 0!important;
    margin-bottom: 0!important;
    background: rgba(0,0,0,0.8);
    border: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

header section.navbar a.logo {
    margin-left: -15px;
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    display: block;
    width: 200px;
}

header section.navbar a.logo img {
    margin-right: 10px;
    margin-top: -5px;
}

header section.navbar a.logo b {
    font-weight: 700;
}

#playing_info_outer {
    text-align: center;
}

#playing_info {
    margin: 0;
    height: 50px;
    padding: 0;
    line-height: 50px;
    color: #b2b2b2;
    font-size: 14px;
    display: inline-block;
}

#playing_info .text {
    font-weight: 300;
    margin-right: 4px;
    font-size: 12px;
    display: block;
    float: left;
}

#playing_info .stat {
    font-weight: 700;
    color: #ffffff;
    margin-right: 4px;
    display: block;
    float: left;
}

#main_menu {
    float: right;
    margin: 10px 0;
    list-style: none;
}

#main_menu li {
    float: left;
    margin: 0px 5px;
}

#main_menu li a {
    display: block;
    height: 28px;
    padding: 1px 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    text-transform: uppercase;
}

#main_menu li.active a {
    padding: 1px 11px;
    background-color: #40ac5a;
    border: 0;
    color: #fff;
}

#main_menu li a:hover {
    border: 1px solid #fff;
    padding: 0 10px;
    color: #40ac5a;
}

#main_menu li.active a:hover {
    padding: 1px 11px;
    background-color: #40ac5a;
    border: 0;
    color: #fff;
}

header section.sup-header {
    left: 0;
    top: 50px;
    position: fixed;
    width: 100%;
    height: 44px;
    background: rgba(0,0,0,0.3);
    z-index: 998;
    overflow: hidden;
}

header section.sup-header .tickercontainer { /* the outer div with the black border */
    background: none;
    width: 100%; 
    height: 44px;
    margin: 0; 
    padding: 0;
    overflow: hidden; 
}

header section.sup-header .tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    overflow: hidden;
}

header section.sup-header ul.newsticker { /* that's your list */
    position: relative;
    left: 0;
    margin: 12px 0 0 0;
    padding: 0;
    list-style: none;
}

header section.sup-header ul {
    height: 20px;
    margin: 12px 0 0 0;
    width: 999999px;
    list-style: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);

    -webkit-animation: scroller 60s linear infinite;
    -moz-animation: scroller 60s linear infinite;
    -o-animation: scroller 60s linear infinite;
    -ms-animation: scroller 60s linear infinite;
    animation: scroller 60s linear infinite;

    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

header section.sup-header:hover ul {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@-moz-keyframes scroller {
  0% {
    -moz-transform: translateX(100%);
    transform: translateX(100%);
  }

  5% {
    -moz-transform: translateX(25%);
    transform: translateX(25%);
  }

  100% {
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes scroller {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  5% {
    -webkit-transform: translateX(25%);
    transform: translateX(25%);
  }

  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-o-keyframes scroller {
  0% {
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  5% {
    -o-transform: translateX(25%);
    transform: translateX(25%);
  }

  100% {
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes scroller {
  0% {
    transform: translateX(100%);
  }

  5% {
    transform: translateX(25%);
  }

  100% {
    transform: translateX(-100%);
  }
}

header section.sup-header ul li {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    color: #fff;
    border-right: 1px solid #808080;
    font-size: 14px;
    line-height: 20px;
}

header section.sup-header ul li a {
    color: #3fa9dd;
}

header section.sup-header ul li a.tweeter {
    color: #40ac5a;
    font-size: 12px;
}

header section.sup-header ul li a:hover {
    text-decoration: underline;
}

header section.sup-header span.titlecase {
    font-style: italic;
    text-transform: capitalize;
}

/* Home grid */
@media (min-width: 1430px) {
    #container.home {
        width: 1430px;
    }
}

#grid {
    margin-top: 20px;
    position: relative;
    padding-bottom: 140px;
}

#grid ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#grid ul li {
    position: relative;
    display: block;
    cursor: pointer;
    width: 126px;
    height: 126px;
    margin-right: 4px;
    margin-bottom: 4px;
    float: left;
}

#grid ul li .face {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    /*background: #000000*/
}

#grid ul li .info {
    display: none;
}

#grid ul li:hover .info {
    display: block;
}

#grid ul li .song_info {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 114px;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
    color: #fff;
}

#grid ul li .song_info .title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: capitalize;
}

#grid ul li .song_info .artist {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

#grid ul li .play-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 42px;
    height: 42px;
    border: 2px solid #40ac5a;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -khtml-border-radius: 22px;
    border-radius: 22px;
    background: transparent;
}

#grid ul li .play-btn:hover {
    border: 2px solid #3fa9dd;
}

#grid ul li .play-btn span {
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
    background: rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    display: block;
}

#grid ul li .play-btn span img {
    margin-top: 8px;
    margin-left: 9px;
}

#grid ul li .thumbs_container {
    width: 126px;
    height: 126px;
    -webkit-perspective: 800px;  
    -moz-perspective: 800px; 
    -ms-perspective: 800px;
    perspective: 800px;
}

#grid ul li .thumbs {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear; 
    -o-transition: all 0.8s linear; 
    transition: all 0.8s linear; 
}

#grid ul li .thumbs_container .thumbs.rotated {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#grid ul li:hover .thumbs_container .thumbs.rotated .front {
    opacity: 0;
}

#grid ul li:hover .thumb img {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    khtml-opacity: 0.6;
    opacity: 0.6;
}  

#grid ul li .thumb {
    width: 126px;
    height: 126px;
    overflow: hidden;
    background: #000;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#grid ul li .thumb.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

img.ver {
    height: 100%;
}

img.hor {
    width: 100%;
}

/* Player */
section#player {
    height: 60px;
    width: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 64px;
    z-index: 1099;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 1;
}

#player_inner {
    height: 60px;
    width: 710px;
    background: #333333;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

#player_play_ctrl_button {
    margin: 8px 9px;
    width: 42px;
    height: 42px;
    border: 2px solid #40ac5a;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -khtml-border-radius: 22px;
    border-radius: 22px;
    background: transparent;
    cursor: pointer;
    float: left;
}

#player_play_ctrl_button:hover {
    border: 2px solid #3fa9dd;
}

#player_play_ctrl_button span {
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
    background: rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    display: block;
}

#player_play_ctrl_button img {
    margin-top: 8px;
    margin-left: 8px;
}

#player_cover_thumb {
    width: 60px;
    height: 60px;
    overflow: hidden;
    cursor: pointer; 
    background: #000000;
    float: left;
} 
        
#player_cover_thumb:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

#player_cover_thumb img.hor {
    width: 100%;  
}

#player_cover_thumb img.ver {
    height: 100%;  
}

#player_song_info {
    padding: 0 20px;
    width: 445px;
    overflow: hidden;
    height: 60px;
    position: relative;
    float: left;
}

#player_song_info .song {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-shadow: 2px 2px rgba(0,0,0,0.3);
    font-weight: 400;
    margin-top: 12px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 23px;
}
        
#player_song_info .song .title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-transform: capitalize;
}

#player_song_info .next {
    color: #fff;
}

#player_song_info .next .title {
    text-transform: capitalize;
}

#player_socials {
    float: left;
    margin: 0px 7px;
}

#player_socials a {
    width: 24px;
    display: block;
    height: 24px;
    margin: 18px 3px;
    background-image: url(/images/social_icons.png);
    background-repeat: no-repeat;
    float: left;
}

#player_socials a.twitter {
    background-position: 0px -24px;
}

#player_socials a.twitter:hover {
    background-position: -24px -24px;
}

#player_chordify {
    float: left;
    display: block;
    width: 35px;
    height: 60px;
    background: url(/images/chordify_logo.png) center center no-repeat;
    -webkit-transition: opacity 2.5s ease-in-out;
    -moz-transition: opacity 2.5s ease-in-out;
    transition: opacity 2.5s ease-in-out;
}

#player_chordify.unavailable {
    opacity: 0.1;
}

#player_chordify.available {
    opacity: 1.0;
    cursor: pointer;
}

#player_show_youtube {
    float: left;
    display: block;
    width: 60px;
    height: 60px;
    background: url(/images/icon_youtube.png) center center no-repeat #262626;
    cursor: pointer;
}

#player_show_youtube:hover, #player_show_youtube.active {
    background: url(/images/icon_youtube_active.png) center center no-repeat #e32d33;
}

#player_show_youtube.active:hover {
    background: url(/images/icon_youtube.png) center center no-repeat #262626;
}

#player_video_inner {
    height: 0;
    width: 610px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#player_youtube  {
    position: absolute;
    height: 347px;
    width: 610px;
    bottom: -347px;
    left: 0;
    background: rgba(0,0,0,0.8);
    padding: 5px 5px 0 5px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#player_youtube.active {
    -webkit-transform: translate(0, -405px);
    -moz-transform: translate(0, -405px);
    -o-transform: translate(0, -405px);
    transform: translate(0, -405px);
}

/* Footer */
footer {
    width: 100%;
    height: 64px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1100;
    -moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}

#api_data_logos {
    margin: 0;
    float: left;
    line-height: 18px;
    font-size: 12px;
    color: #808080;
    margin-top: 25px;
    margin-left: -15px;
    font-weight: 300;
}

#api_data_logos a {
    color: #4c4c4c;
    font-weight: 400;
}
   
#api_data_logos a:hover {
    text-decoration: underline;
}
                   
#api_data_logos ul {
    display: inline;
    list-style: none;
    padding: 0;
}

#api_data_logos ul li {
    float: left;
    margin-right: 10px;
}              

#api_data_logos ul li a {
    display: block;
    height: 18px;
    background-image: url(../images/icons_api.png);
    background-repeat: no-repeat;
}
                
#api_data_logos ul li a:hover {
    background-image: url(../images/icons_api_hover.png);
}
 
#api_data_logos ul li.twitter a {
    width: 17px;
    background-position: 0px 0px;
}
                
#api_data_logos ul li.youtube a {
    width: 18px;
    background-position: -28px 0px;
}

#api_data_logos ul li.lastfm a {
    width: 21px;
    background-position: -55px 0px;
}

#api_data_logos ul li.google a {
    width: 45px;
    background-position: -87px 0px;
}

footer ul.menu {
    margin: 10px -5px 10px 0px;
    list-style: none;
    margin-top: 18px;
    font-weight: 300;
}

footer ul.menu li {
    float: left;
    margin: 0px 5px;
}

footer ul.menu li a {
    display: block;
    height: 28px;
    padding: 1px 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #4c4c4c;
    font-weight: 300;
    text-transform: uppercase;
}

footer ul.menu li a:hover {
    border: 1px solid #fff;
    padding: 0 10px;
    color: #40ac5a;
    border: 1px solid #cccccc;
}

footer ul.menu li.active a, footer ul.menu li.active a:hover {
    padding: 1px 11px;
    background-color: #40ac5a;
    border: 0;
    color: #fff;
}

footer ul.menu li.active a, footer ul.menu li.active a:hover {
    background: #4c4c4c;
}

/* Song and artist detail modal */
.modal {
    display: block;
}

.modal-dialog {
    width: 980px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.modal-content {
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

#modal_header_top {
    width: 100%;
    height: 40px;
    background: #ffffff;
    z-index: 3;
    position: relative;
} 

#modal_header_close {
    float: right;
    margin: 8px 10px 0px 0px;
    cursor: pointer;
}

#modal_header_close span {
    float: left;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    color: #808080;
    margin: 2px 5px 0 0;
}

#modal_header_close .close-btn {
    width: 24px;
    height: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    -khtml-border-radius: 24px;
    border-radius: 24px;
    background: url(/images/btn_close.png) no-repeat;
    cursor: pointer;
    float: left;
}

#modal_song_info {
    width: 100%;
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    background: url(/images/lb_header_overlay.png) no-repeat #000;
    border-top: 1px solid #e5e5e5;
    height: 98px;
    position: relative;
    z-index: 2;
}

#modal_song_info .play-btn {
    position: absolute;
    top: 27px;
    left: 30px;
}

.nvtooltip {
    margin-top: 80px;
}

#modal_song_info .text {
    position: relative;
    z-index: 3;
    margin-left: 100px;
}

#modal_song_info h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}

#modal_song_info h2 {
    color: #ffffff;
    margin-top: 5px;
    text-transform: capitalize
}

#modal_song_info h3 {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 16px;
}

#modal_song_info .streamwatched {
    font-weight: 300;
    color: #999999;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}

#modal_content {
    height: 400px;
    overflow: scroll;
}

#modal_content_inner {
    position: relative;
    z-index: 1;
    padding: 1px 30px 80px 30px;
    float: left;
}

#modal_content #graph_loading {
    width: 920px;
    height: 260px;
}

#modal_content #graph_loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0px 0px -24px;
}

#modal_content_inner .two_columns {
    width: 100%;
    margin-top: 20px;
    float: left;
}

#modal_content_inner .two_columns h4 {
    margin: 20px 0 8px 0;
}

#modal_content_inner .two_columns .column {
    width: 445px;
}

#modal_content_inner .listing {
    margin: 0;
    overflow: hidden;
    height: 176px;
    padding-right: 20px;
    background: #f1f1f1;
    position: relative
}

#modal_content_inner .listing ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #e5e5e5;
}

#modal_content_inner .listing ul li {
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    font-size: 14px;
    padding: 0 5px;
    border-bottom: 1px solid #e5e5e5;
}

#modal_content_inner .listing ul li .number {
    width: auto;
    float: left;
    text-align: left;
    color: #4c4c4c;
    font-weight: 700;
    margin: 0 5px;
}

#modal_content_inner .listing ul li .title {
    width: auto;
    float: left;
    text-align: left;
    color: #333333;
    margin: 0 5px;
}

#modal_content_inner .listing ul li .title .song {
    text-transform: capitalize;
}

#modal_content_inner .two_columns .listing ul li .title {
    width: 300px
}

#modal_content_inner .listing ul li .value {
    width: auto;
    float: right;
    text-align: right;
    font-weight: 700;
    margin: 0 5px;
    color: #e8a023;
}

#modal_content_inner .listing ul li .value_balk  {
    float: right;
    text-align: right;
    height: 8px;
    width: 50px;
    background: #c9ced1;
    margin: 13px 5px 0px 5px;
    overflow: hidden;
    position: relative;
}

#modal_content_inner .listing ul li .value_balk .procent {
    width: 0;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e8a023;
}

#modal_content_inner .listing ul li:nth-child(1) .value.colored { color: #227e38; } 
#modal_content_inner .listing ul li:nth-child(2) .value.colored { color: #2e9747; } 
#modal_content_inner .listing ul li:nth-child(3) .value.colored { color: #3da856; } 
#modal_content_inner .listing ul li:nth-child(4) .value.colored { color: #50bf6b; } 
#modal_content_inner .listing ul li:nth-child(5) .value.colored { color: #64d580; } 

#modal_content_inner .listing ul li:nth-child(1) .value_balk .procent { background: #227e38; } 
#modal_content_inner .listing ul li:nth-child(2) .value_balk .procent { background: #2e9747; } 
#modal_content_inner .listing ul li:nth-child(3) .value_balk .procent { background: #3da856; } 
#modal_content_inner .listing ul li:nth-child(4) .value_balk .procent { background: #50bf6b; } 
#modal_content_inner .listing ul li:nth-child(5) .value_balk .procent { background: #64d580; } 

#modal_content_inner .listing ul li .tweet {
    width: 254px;
    float: left;
    text-align: left;
    color: #333333;
    margin: 0 5px;
}

#modal_content_inner .listing ul li .tweeter {
    width: 120px;
    float: right;
    text-align: right;
    font-weight: 700;
    margin: 0 5px;
}

#modal_content_inner .read_more {
    color: #4c4c4c;
    font-size: 14px;
    text-align: right;
}

/* Hot */
ul#popular_now {
    margin: 0;
    width: 100%;
    list-style: none;
    margin-top: 30px;
    padding: 0;
    padding-bottom: 140px;
}

ul#popular_now .clear {
    clear: both;
}

ul#popular_now li {
    float: none;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 0;
    overflow: hidden;
}
    
ul#popular_now li ul {
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0;
    background: rgba(0,0,0,0);
}
        
ul#popular_now li ul:hover {
    background: rgba(0,0,0,0.2); 
    cursor: pointer;
}
    
ul#popular_now li ul li {
    display: block;
    float: left;
    border-bottom: 0;
    padding: 0;
    position: relative;
    overflow: visible;
}      
            
ul#popular_now li ul li.number {
    width: 45px;
    margin-right: 20px;
    text-align: center;
}    

ul#popular_now li ul li.artist {
    width: 40px;
    margin-right: 20px;
}    

ul#popular_now li ul li.song {
    width: 786px;
    margin-right: 20px;
    font-size: 13px;
}  
            
ul#popular_now li ul li.statistics {
    width: 161px;
    margin-right: 20px;
    float: left;
}  

ul#popular_now li ul li.statistics path {
    fill: none;
    stroke: #0446ED;
    stroke-width: 2.5px;
}

ul#popular_now li ul li.statistics circle {
    display: none;
}

ul#popular_now li ul li.statistics g.nv-hoverArea,
ul#popular_now li ul li.statistics g.nv-hoverValue {
    display: none;
}

ul#popular_now li ul li.play {
    width: 44px;
    margin-right: 10px;
    text-align: center;
}  

ul#popular_now li.head {
     font-size: 12px;
     font-weight: 300;
     color: #808080;
     line-height: 18px;
     text-transform: uppercase;
     text-shadow: 1px 1px rgba(0,0,0,0.3);
}

ul#popular_now li.head ul:hover {
    background: none;
    cursor: default;
}
     
ul#popular_now li.head ul li.artist {
    width: 80px;
}
        
ul#popular_now li.head ul li.song {
    width: 746px; 
}

ul#popular_now li.row_item {
    color: #ffffff;
    text-shadow: 1px 1px rgba(0,0,0,0.3);
}
     
ul#popular_now li.row_item ul li.number {
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    height: 40px;
}
                
ul#popular_now li.row_item.row_item_0 ul li.number {
    height: 80px;
    line-height: 80px;
    font-size: 60px;
}  

ul#popular_now li.row_item.row_item_1 ul li.number,
ul#popular_now li.row_item.row_item_2 ul li.number {
    height: 80px;
    line-height: 80px;
    font-size: 40px;
}  
            
ul#popular_now li.row_item.row_item_0 ul li.artist,
ul#popular_now li.row_item.row_item_1 ul li.artist, 
ul#popular_now li.row_item.row_item_2 ul li.artist  {
    width: 80px;
}

ul#popular_now li.row_item ul li.artist .thumb {
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
                
ul#popular_now li.row_item.row_item_0 ul li.artist .thumb,
ul#popular_now li.row_item.row_item_1 ul li.artist .thumb,
ul#popular_now li.row_item.row_item_2 ul li.artist .thumb {
     height: 80px;
     width: 80px;
}

ul#popular_now li.row_item ul li.artist .thumb img.hor {
    width: 100%;
}

ul#popular_now li.row_item ul li.artist .thumb img.ver {
    height: 100%;
}

ul#popular_now li.row_item ul li.song {
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    height: 36px;
    padding-top: 4px;
    line-height: 16px;
}

ul#popular_now li.row_item.row_item_0 ul li.song {
    width: 746px;
    height: 65px; 
    padding-top: 15px;
    line-height: 24px;
    font-size: 20px;
}


ul#popular_now li.row_item.row_item_1 ul li.song,
ul#popular_now li.row_item.row_item_2 ul li.song {
    width: 746px;
    font-size: 16px;
    height: 58px;
    padding-top: 22px;
    line-height: 18px
}
            
ul#popular_now li.row_item ul li.song span.song_big {
     font-size: 18px;
     text-transform: capitalize;
}

ul#popular_now li.row_item.row_item_0 ul li.song span.song_big {
     font-size: 40px;
}

ul#popular_now li.row_item.row_item_1 ul li.song span.song_big,
ul#popular_now li.row_item.row_item_2 ul li.song span.song_big {
     font-size: 26px;
}

ul#popular_now li.row_item ul li.song span.small {
     font-size: 13px;
}
                    
ul#popular_now li.row_item.row_item_0 ul li.song span.small {
    font-size: 20px;
}

ul#popular_now li.row_item.row_item_1 ul li.song span.small,
ul#popular_now li.row_item.row_item_2 ul li.song span.small {
    font-size: 16px;
}
           
ul#popular_now li.row_item ul li.statistics {
    font-size: 12px;
}  
                
ul#popular_now li.row_item ul li.statistics .stats {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}

ul#popular_now li.row_item:hover ul li.statistics .stats,
ul#popular_now li.row_item.row_item_0 ul li.statistics .stats,
ul#popular_now li.row_item.row_item_1 ul li.statistics .stats,
ul#popular_now li.row_item.row_item_2 ul li.statistics .stats {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}


ul#popular_now li.row_item ul li.play .play-btn {
    text-align: left;
    position: absolute;
    top: -2px;
    left: 0px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}

ul#popular_now li.row_item:hover ul li.play .play-btn {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

ul#popular_now li.row_item.row_item_0 ul li.play .play-btn,
ul#popular_now li.row_item.row_item_1 ul li.play .play-btn,
ul#popular_now li.row_item.row_item_2 ul li.play .play-btn {
    top: 18px;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

@media (min-width: 981px) and (max-width: 991px) {
    section #page_header ul#switch {
        bottom: -20px;
    }    
}

@media (min-width: 991px) and (max-width: 1199px) {
    section ul#popular_now li ul li.song {
        width: 586px;
    }

    section ul#popular_now li.head ul li.song,
    section ul#popular_now li.row_item.row_item_0 ul li.song,
    section ul#popular_now li.row_item.row_item_1 ul li.song,
    section ul#popular_now li.row_item.row_item_2 ul li.song {
        width: 546px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    section #page_header ul#switch {
        bottom: -20px;
    }

    section ul#popular_now li ul li.song {
        width: 420px;
    }

    section ul#popular_now li.head ul li.song,
    section ul#popular_now li.row_item.row_item_0 ul li.song,
    section ul#popular_now li.row_item.row_item_1 ul li.song,
    section ul#popular_now li.row_item.row_item_2 ul li.song {
        width: 330px;
    }
}

/* About */
#about {
    background: rgba(0,0,0,0.4);
    padding: 25px 30px 0 30px;
    margin-bottom: 140px;
    margin-right: 4px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
}

#about h2 {
    margin-top: 38px;
}

#about .logo_balk {
    margin: 38px 0px;
}

#streamwatchr {
    margin: 0px auto;
    width: 10em;
    height: 10em;
    
}

#streamwatchr img {
    width: 10em;
    height: 10em;
}

#about .logo_balk img {
    text-align: center;
}

/* Play button */
.play-btn {
    width: 42px;
    height: 42px;
    border: 2px solid #40ac5a;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -khtml-border-radius: 22px;
    border-radius: 22px;
    background: transparent;
    cursor: pointer;
}

.play-btn:hover {
    border: 2px solid #3fa9dd;
}

.play-btn span {
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
    background: rgba(0,0,0,0.5);
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    display: block;
}

.play-btn span img {
    margin-top: 8px;
    margin-left: 8px;
}