<div id="home">
  <div id="page_header" class="row">
    <h1>Now playing on the planet</h1>
    <h1 class="small">Tap into the music. Hover and hit play!</h1>
  </div>

  <div id="grid" class="row">
    <ul>
      <li ng-repeat="song in songs track by $index">
        <div class="card" ng-click="$state.go('home.song_details', {songId: song._id})" ng-mouseenter="startSongHoverEvent()" ng-mouseleave="stopSongHoverEvent($index)">
          <div class="face">
            <div class="thumbs_container">
              <div class="thumbs" cover-swap>
                <div class="thumb front">
                  <img class="cover front">
                </div>
                <div class="thumb back">
                  <img class="cover back">
                </div>
              </div>
            </div>
            <div class="info">
              <div class="song_info">
                <div class="title">{{ song.song|truncate:25 }}</div>
                <div class="artist"> {{ song.artists[0].name|truncate:25 }}</div>
              </div>
              <play-button mb-id="song.mbId" images="song.images" video-id="song.video_id" artist="song.artists[0].name" song="song.song"></play-button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>