<div id="page_header" class="row">
  <ul id="switch" class="right">
    <li ng-class="{ active: entity === 'song' }"><a ui-sref="hot({ entity: 'song' })">Song</a></li>
    <li ng-class="{ active: entity === 'artist' }"><a ui-sref="hot({ entity: 'artist' })">Artist</a></li>
  </ul>
  <h1>Most popular artists on the planet, now</h1>
  <h1 class="small">Real-time chart of the most popular artists and songs around the world.</h1>
</div>
<div class="row">
  <ul id="popular_now">
    <li class="head">
      <ul>
        <li class="number">#</li>
        <li class="artist">artist</li>
        <li class="song">&nbsp;</li>
        <li class="statistics">Plays in last 24hrs</li>
        <div class="clear"></div>
      </ul>
    </li>
    <li class="row_item row_item_{{ $index }}" ng-repeat="artist in items track by $index" ng-click="$state.go('hot.artist_details', { artistId: artist.mbId })">
      <ul>
        <li class="number">{{ $index + 1 }}</li>
        <li class="artist">
          <div class="thumb">
            <img ng-if="artist.image" ng-class="artist.image[3].imgClass" ng-src="{{ artist.image[3]['#text'] }}">
          </div>
        </li>
        <li class="song">
          <span class="song_big" bind-once>{{ artist.artist }}</span>
        </li>
        <li class="statistics">
          <div ng-if="!artist.stats || artist.stats.length === 0">&nbsp;</div>
          <div ng-if="artist.stats">
            <nvd3-sparkline-chart
              data="artist.stats"
              id="sparkline_{{ artist.mbId }}"
              width="161"
              height="40"
              margin="{left: 0, top: 0, bottom: 0, right: 0}"
              x="chartXFunction()"
              y="chartYFunction()"
              color="chartPathColor()"
              showValue="false">
              <svg></svg>
            </nvd3-sparkline-chart>
          </div>
        </li>
        <li class="play">
        </li>
        <div class="clear"></div>
      </ul>
    </li>
  </ul>
</div>