<header class="header header-fixed">
  <section role="navigation" class="navbar navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-5 pull-left">
          <a class="logo" ui-sref="home" ui-sref="home" title="Streamwatchr">
            <img src="/images/streamwatchr-logo.png"><b>Stream</b>watchr
          </a>
        </div>
        <div id="playing_info_outer" class="col-lg-7 col-md-6 col-xs-7">
          <div id="playing_info" ng-controller="OverallStatsController" ng-show="stats.totalTweetCount !== 0">
            <span class="green text">watching</span> <span class="stat" ng-bind="stats.totalTweetCount | number:0"></span> <span class="text">music tweets &amp;</span> <span class="stat" ng-bind="stats.totalUniqueArtistsCount | number:0"></span> <span class="text">artists so far...</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-12 pull-right">
          <ul id="main_menu" class="nav navbar-nav pull-right">
            <li ng-class="{ active: $state.includes('home') }"><a ui-sref="home">Now</a></li>
            <li ng-class="{ active: $state.includes('hot') }"><a ui-sref="hot">Hot</a></li>
            <li ng-class="{ active: $state.includes('unexpected') }"><a ui-sref="unexpected">Unexpected</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="sup-header">
    <ul ng-controller="LyricsController" scroll-ticker>
      <li ng-repeat="lyric_tweet in stats.lyrics track by lyric_tweet.tweetid" bind-once>
        <a class="tweeter" href="https://twitter.com/{{ lyric_tweet.user }}/status/{{ lyric_tweet.tweetid}}" target="_blank">@{{ lyric_tweet.user }}</a> sings along <span class="titlecase">{{ lyric_tweet.song }}</span> by {{ lyric_tweet.artists[0].name }}: "{{ lyric_tweet.tweet }}"
      </li>
    </ul>
  </div>
</header>

<div id="loading_overlay" ng-show="showLoadingOverlay">
  <img src="/images/loader.gif">
</div>

<section id="container" role="main" class="container main-body" ng-class="$state.current.name">
  <ui-view autoscroll="true" />
</section>

<section id="player" ng-controller="PlayerController" ng-hide="!state.currentSong.video_id">
  <div id="player_inner">
    <div id="player_play_ctrl_button" class="left" ng-click="togglePlay()">
      <span>
        <img ng-show="state.playState == 1" src="/images/pauze_icon.png" alt="Pause">
        <img ng-show="state.playState == 2" src="/images/play_icon.png" alt="Play">
      </span>
    </div>
    <div id="player_cover_thumb">
      <img ng-class="{ ver: state.currentSong.images[2].width >= state.currentSong.images[2].height, hor: state.currentSong.images[2].width < state.currentSong.images[2].height }" ng-src="{{ state.currentSong.images[2]['#text'] }}" ng-click="$state.go('.artist_details', { artistId: state.currentSong.mbId[0].mbId })" />
    </div>
    <div id="player_song_info">
      <div class="song">
        <span class="title">{{ state.currentSong.song }}</span> - <span class="artist">{{ state.currentSong.artist }}</span>
      </div>
      <div class="next" ng-switch="state.requestingRecommendedNext">
        <span ng-switch-when="true">Fetching songs that people listen to next...</span>
        <span ng-switch-when="false">
          <span ng-if="!state.nextSong.mbId">No songs to suggest after this one. Tap onto a new one.</span>
          <span ng-if="state.nextSong.mbId">Next: <a href="" ng-click="playRecommendedNext()"><span class="title">{{ state.nextSong.song }}</span> - {{ state.nextSong.artist }}</a></span>
        </span>
      </div>
    </div>
    <div id="player_show_youtube" ng-class="{ active: youtube.videoShown }" ng-click="toggleVideo()"></div>
    <div id="player_socials">
      <a href="#" ng-click="tweetCurrentSong()" class="twitter"></a>
    </div>
    <div id="player_chordify" ng-class="{available: state.currentSong.chordifyUrl, unavailable: !state.currentSong.chordifyUrl}" ng-click="goToChordify()"></div>
  </div>
  <div id="player_video_inner">
    <div id="player_youtube" ng-class="{ active: youtube.videoShown }">
      <youtube-video id="yt_player" player="youtube.player" player-width="600" player-height="342" player-vars="youtube.playerVars" video-id="youtube.videoId"></youtube-video>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div id="api_data_logos" class="pull-left">
      We use open API data from <a title="Musicbrainz" href="http://musicbrainz.org" target="_blank">Musicbrainz</a>, <a title="Twitter" href="http://twitter.com" target="_blank">Twitter</a>, <a title="YouTube" href="http://youtube.com" target="_blank">YouTube</a>, <a title="Last.fm" href="http://last.fm" target="_blank">Last.fm</a>, <a title="LYRICSnMUSIC" href="http://lyricsnmusic.com" target="_blank">LYRICSnMUSIC</a> &amp; <a title="Google" href="http://google.com" target="_blank">Google</a>
    </div>

    <ul class="menu pull-right">
      <li ng-class="{ active: $state.includes('about') }"><a ui-sref="about" title="About StreamWatchr">About StreamWatchr</a></li>
    </ul>
  </div>
</footer>

<div ui-view="modal"></div>