<div ng-if="videoId" ng-click="playToggle($event)" class="play-btn">
  <span>
    <img ng-if="state.currentSong.video_id != videoId || state.playState == 2" src="/images/play_icon.png" alt="Play">
    <img ng-if="state.currentSong.video_id == videoId && state.playState == 1" src="/images/pauze_icon.png" alt="Pause">
  </span>
</div>