<div id="modal_header">
  <div id="modal_header_top">
    <div id="modal_header_close" ng-click="close()">
      <span>close</span>
      <div class="close-btn"></div>
    </div>
  </div>
  <div id="modal_song_info">
    <play-button mb-id="song.artist_info.lastfm_info.artist.mbid" images="song.artist_info.lastfm_info.artist.image" video-id="song.youtubeID" artist="song.song_name.artists[0].name" song="song.song_name.song"></play-button>
    <div class="text">
      <h2 bind-once>{{ song.song_name.song }}</h2>
      <h3 bind-once>{{ song.song_name.artists[0].name }}</h3>
      <span class="streamwatched">streamwatched <span class="green" bind-once>{{ song.count|number:0 }}</span> times</span>
    </div>
  </div>
</div>
<div id="modal_content" ng-style="{height: modalContentHeight}">
  <div id="modal_content_inner">
    <div ng-if="loadingPlayCounts" id="graph_loading"><img src="/images/loading_white_bg.gif"></div>
    <div class="two_columns" ng-if="playCounts[0].values">
      <nvd3-line-chart
        data="playCounts"
        id="playcount"
        width="885"
        height="250"
        color="chartPathColor()"
        legendColor="chartPathColor()"
        showLegend="true"
        showXAxis="true"
        x="chartXFunction()"
        xaxistickformat="chartXTickFormat()"
        showYAxis="true"
        tooltips="true"
        tooltipcontent="chartTooltipContent()"
        useinteractiveguideline="false"
        interactive="true"
        rightalignyaxis="true"
        transitionduration="350"
        margin="{left: 50, right: 50}">
          <svg></svg>
      </nvd3-line-chart>
    </div>

    <div class="two_columns">
      <div class="column pull-left">
        <h4>Watched per region</h4>
        <div class="listing">
          <ul>
            <li ng-repeat="country in song.countries" bind-once>
              <div class="title" bind-once>{{ countries[country.country] }}</div>
              <div class="value colored" bind-once>{{ country.count|number:0 }}</div>
            </li>
            <li ng-if="song.countries.length === 0" bind-once>No data available.</li>
          </ul>
        </div>
      </div>
      <div class="column pull-right">
        <h4>Latest sing-along tweets</h4>
        <div class="listing">
          <ul>
            <li ng-repeat="lyric in song.lyrics" bind-once>
              <div class="number"></div>
              <div class="tweet" bind-once>{{ lyric.tweet }}</div>
              <div class="tweeter" bind-once><a bind-once href="http://twitter.com/{{ lyric.user }}/status/{{ lyric.tweetid }}" title="@{{ lyric.user }}" target="_blank">@{{ lyric.user }}</a></div>
            </li>
            <li ng-if="song.lyrics.length === 0" bind-once>No data available.</li>
          </ul>
        </div>
      </div>

      <div class="column pull-left" style="clear:both;">
        <h4>Songs people have recently listened to next</h4>
        <div class="listing">
          <ul>
            <li ng-if="loadingRecommendations">Loading...</li>
            <li ng-if="!loadingRecommendations && recommendations.docs.length === 0">No data available.</li>
            <li ng-repeat="recommendation in recommendations.docs" bind-once>
              <div class="title" bind-once><span class="song">{{ recommendation.target.song }}</span> by {{ recommendation.target.artists[0].name }}</div>
              <div class="value_balk">
                <div class="procent" style="width: {{ recommendation.normweight * 100 }}%"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="two_columns">
      <div ng-show="song.artist_info" class="biography">
        <h4>Biography</h4>
        <hr>
        <p ng-bind-html="song.artist_info.lastfm_info.artist.bio.summary|trusted_html" bind-once></p>
        <div class="read_more">
          read more on <a href="{{ song.artist_info.lastfm_info.artist.url }}" title="Last.fm" target="_blank" bind-once>Last.fm</a>
        </div>
      </div>
    </div>
  </div>
</div>