<div id="page_header" class="row">
  <ul id="switch" class="right">
    <li ng-class="{ active: entity === 'song' }"><a ui-sref="unexpected({ entity: 'song' })">Song</a></li>
    <li ng-class="{ active: entity === 'artist' }"><a ui-sref="unexpected({ entity: 'artist' })">Artist</a></li>
  </ul>
  <h1>Off the beaten track</h1>
  <h1 class="small">Tired of listening to the same songs all the time? Try these...</h1>
</div>
<div class="row">
  <ul id="popular_now">
    <li class="head">
      <ul>
        <li class="number">#</li>
        <li class="artist">artist</li>
        <li class="song">song</li>
        <li class="statistics">Plays in last 24hrs</li>
        <li class="play"></li>
        <div class="clear"></div>
      </ul>
    </li>
    <li class="row_item row_item_{{ $index }}" ng-repeat="song in items track by $index" ng-click="$state.go('unexpected.song_details', {songId: song.song_popularity_id})">
      <ul>
        <li class="number">{{ $index + 1 }}</li>
        <li class="artist">
          <div class="thumb">
            <img ng-if="song.artist_image" ng-class="song.artist_image[3].imgClass" ng-src="{{ song.artist_image[3]['#text'] }}">
          </div>
        </li>
        <li class="song">
          <span class="song_big" bind-once>{{ song.entity }}</span>
          <br>
          <span class="song_small" bind-once>{{ song.artist_name }}</span>
        </li>
        <li class="statistics">
          <div ng-if="!song.stats || song.stats.length === 0">&nbsp;</div>
          <div ng-if="song.stats">
            <nvd3-sparkline-chart
              data="song.stats"
              id="sparkline_{{ song.song_popularity_id }}"
              width="161"
              height="40"
              margin="{left: 0, top: 0, bottom: 0, right: 0}"
              x="chartXFunction()"
              y="chartYFunction()"
              color="chartPathColor()"
              showValue="false">
              <svg></svg>
            </nvd3-sparkline-chart>
          </div>
        </li>
        <li class="play">
          <play-button mb-id="song.mbId" images="song.artist_image" video-id="song.youtubeID" artist="song.artist_name" song="song.entity"></play-button>
        </li>
        <div class="clear"></div>
      </ul>
    </li>
  </ul>
</div>